Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

openstack-k8s-operators-content-provider:
  override-checkout: main

functional-autoscaling-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the autoscaling functional tests and tempest tests on osp18+patched
  
    versions of aodh and heat.
  
    '
  vars:
    patch_openstackversions: true
    cifmw_extras:
  ...

functional-logging-tests-osp18:
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests and tempest smoketests on osp18
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

functional-graphing-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the UI Graphing test and tempest smoketests on osp18.
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

functional-metric-verification-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the metric verification functional test and tempest smoketests on osp18.
  
    '
  vars:
    patch_observabilityclient: true
    cifmw_extras:
  ...

debug auth faliure
  roles/telemetry_verify_metrics/tasks/verify_rbac.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

[ci] Update the logging tests to use new pod test config format
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[roles/common] allow using a dict to configure pod tests
  roles/common/tasks/pod_tests.yml
Due: openstack-k8s-operators-content-provider

[roles/common] Update the docs for the pod tests
  roles/common/README.md
Due: feature-verification-tests-noop

[ci] Update the logging tests to use new pod test config format
  ci/logging_tests_controller.yml
  roles/common/tasks/pod_tests.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[common] Update the CR tests to mark one as optional
  roles/common/tasks/cr_tests.yml
Due: openstack-k8s-operators-content-provider

Add conditions to task
  roles/common/tasks/cr_tests.yml
Due: openstack-k8s-operators-content-provider

Remove unnecessary logging tests
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[ci] Converge tests based on enabled features
  .zuul.yaml
  ci/run_cloudops_tests_osp18.yml
  ci/run_fvt_tests.yml
  ci/run_graphing_test.yml
  ci/vars-fvt-tests.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Use pre_tests
  .zuul.yaml
  ci/vars-fvt-tests.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Use CS10 meta content provider and tcib images for testing
  .zuul.yaml
  ci/files/containers.yaml
  ci/patch-openstack-versions.yaml
  ci/patch-openstack-versions.yaml.j2
  ci/use-master-containers.yml
  ci/vars/common.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add periodic job with volume pool metrics tests
  .zuul.yaml
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Remove unnecessary logging tests (#297)
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[zuul] Add logging config and tests to functional-autoscaling-tests-osp18
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Remove unneeded test IDs from FVTs
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
  roles/telemetry_graphing/tasks/cypress_test.yml
  roles/telemetry_graphing/tasks/verify_url.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18

[ci] Remove the extra copy of XML file from hooks
  ci/vars-functional-test.yml
  ci/vars-graphing-test.yml
  ci/vars-logging-test.yml
  ci/vars-metric-verification-test.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add some more details to the README and create a docs/ dir
  README.rst
  docs/stf-tests.rst
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider

[common] Update manifest role and config
  ci/logging_tests_controller.yml
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

Remove unneeded test IDs from FVTs (#291)
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
  roles/telemetry_graphing/tasks/cypress_test.yml
  roles/telemetry_graphing/tasks/verify_url.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18

Use CS10 meta content provider and tcib images for testing
  .zuul.yaml
  ci/patch-openstack-versions.yaml
  ci/patch-openstack-versions.yaml.j2
  ci/use-master-containers.yml
  ci/vars/common.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Use CS10 meta content provider and tcib images for testing (#290)
  .zuul.yaml
  ci/patch-openstack-versions.yaml
  ci/patch-openstack-versions.yaml.j2
  ci/use-master-containers.yml
  ci/vars/common.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[ci] Converge autoscaling & graphing osp18 tests based on enabled features
  .zuul.yaml
  ci/run_cloudops_tests_osp18.yml
  ci/run_fvt_tests.yml
  ci/run_graphing_test.yml
  ci/vars-fvt-tests.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[test_autoscaling] Remove the 5 minute pause before checking alarms
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18

[ci] Move use master containers to pre_deploy hook
  ci/vars-use-master-containers.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18

[ci] Remove the extra copy of XML file from hooks
  .github/workflows/check_plugin.yml
  ci/ansible.cfg
  ci/report_result.yml
  ci/vars-functional-test.yml
  ci/vars-graphing-test.yml
  ci/vars-logging-test.yml
  ci/vars-metric-verification-test.yml
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Remove test_id vars in all playbooks under roles/telemetry_verify_metrics
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_central_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_ipmi_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_kepler_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_kepler_vm_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ksm_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_openstack_network_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_podman_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

[ci] Create functional-autoscaling-graphing-tests-osp18 job
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[graphing] Set screenshot dir to cifmw-data/tests instead of logs
  roles/telemetry_graphing/vars/main.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

[test_autoscaling] Remove the 5 minute pause before checking alarms (#300)
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18

[ci] Remove the extra copy of XML file from hooks (#298)
  .github/workflows/check_plugin.yml
  ci/ansible.cfg
  ci/report_result.yml
  ci/vars-functional-test.yml
  ci/vars-graphing-test.yml
  ci/vars-logging-test.yml
  ci/vars-metric-verification-test.yml
  roles/telemetry_graphing/vars/main.yml
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[zuul] Add logging config and tests to functional-autoscaling-tests-osp18 (#273)
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add periodic job with volume pool metrics tests (#287)
  .zuul.yaml
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Remove test_id vars in all playbooks under roles/telemetry_verify_metrics (#302)
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_central_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_ipmi_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_kepler_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_kepler_vm_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ksm_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_openstack_network_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_podman_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Modify test id's with "rhelosp-#####" to TEST
  roles/client_side_tests/tasks/test_e2e.yml
  roles/test_alerts/tasks/test_create_an_alert.yml
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
  roles/test_collectd/tasks/main.yml
  roles/test_metrics_retention/tasks/main.yml
  roles/test_observability_strategy/tasks/main.yml
  roles/test_qdr/tasks/main.yml
  roles/test_sensubility/tasks/main.yml
  roles/test_sensubility/tasks/test_health_status.yml
  roles/test_snmp_traps/tasks/main.yml
  roles/test_verify_email/tasks/main.yml
Due: feature-verification-tests-noop

[ci][periodic] Replace telemetry-openstack-meta-content-provider-master by openstack-k8s-operators-content-provider
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Path conditions:
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  openstack-k8s-operators-content-provider: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: any of: roles/telemetry_autoscaling/.*, .zuul.yaml, ci/vars-functional-test.yml, ci/run_autoscaling_osp18.yml, ci/vars-use-master-containers.yml, ci/use-master-containers.yml, ci/patch-openstack-version.yaml, ci/report_result.yml
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-graphing-tests-osp18: (any of: roles/telemetry_graphing/.*, .zuul.yaml, ci/vars-graphing-test.yml, ci/run_graphing_test.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-metric-verification-tests-osp18: (any of: roles/telemetry_verify_metrics/.*, .zuul.yaml, ci/vars-metric-verification-test.yml, ci/run_verify_metrics_osp18.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
