Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-on-osp18, feature-verification-tests-noop

functional-tests-on-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the autoscaling functional test on osp18+patched version of aodh and heat.
  
    '
  vars:
    patch_openstackversions: true
    cifmw_extras:
  ...

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

Try to use new hooks to run test playbooks directly
  ci/logging_tests_computes.yml
  ci/run_playbooks_logging.yml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18

[zuul] Add logging test job
  .zuul.yaml
  ci/logging_tests_computes.yml
  ci/logging_tests_local.yml
  ci/run_playbooks_logging.yml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18

solve the logger_test
  .github/workflows/check_plugin.yml
  callback_plugins/custom_logger.py
  ci/report_result.yml
  ci/run_autoscaling_osp18.yml
  ci/vars/common.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

Add a sample output file for custom_junit plugin
  ci/test_logger-1723222027.520003.xml
Due: functional-tests-on-osp18

add seprate hook
  .zuul.yaml
  ci/osp18_functional_tests.yml
  ci/report_result.yml
  ci/run_graphing_test.yml
  ci/run_playbooks.yml
  ci/vars-graphing-test.yml
Due: functional-tests-on-osp18

solve the logger_test
  .github/workflows/check_plugin.yml
  callback_plugins/custom_logger.py
  ci/report_result.yml
  ci/run_autoscaling_osp18.yml
  ci/vars/common.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

Update test_services.yml
  roles/telemetry_autoscaling/tasks/test_services.yml
Due: functional-tests-on-osp18

Fix syntax error: change_when -> changed_when
  roles/common/tasks/container_tests.yml
Due: functional-tests-on-osp18

[zuul] Update Autoscaling job to run the playbooks directly from the hook (#118)
  .github/workflows/check_plugin.yml
  callback_plugins/custom_logger.py
  ci/osp18_functional_tests.yml
  ci/report_result.yml
  ci/run_autoscaling_osp18.yml
  ci/vars-functional-test.yml
  ci/vars/common.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/post_teardown.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

Use ignore_errors in plays for test_logging
  ci/ansible.cfg
  ci/logging_tests_computes.yml
  ci/logging_tests_local.yml
Due: functional-tests-on-osp18

Fix syntax error in variable definition
  .zuul.yaml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18

Update playbooks to remove login play
  ci/logging_tests_local.yml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18

custom_logger: except AnsibleError and try to get more info on failing callback plugin
  callback_plugins/custom_logger.py
Due: feature-verification-tests-noop

[ci/logging_tests] Add KUBECONFIG and PATH to play environment
  ci/logging_tests_computes.yml
  ci/logging_tests_local.yml
Due: functional-tests-on-osp18

Add report_results to logging tests
  callback_plugins/custom_logger.py
  ci/logging_tests_computes.yml
  ci/logging_tests_local.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

[common] Rename var: nspace -> pod_nspace, service_nspace
  roles/common/tasks/main.yml
Due: functional-tests-on-osp18

remove trailing spaces
  ci/logging_tests_local.yml
Due: functional-tests-on-osp18

[zuul][logging] Update var names for the telemetry_logging role
  ci/logging_tests_computes.yml
  roles/telemetry_logging/tasks/main.yml
Due: functional-tests-on-osp18

debug: add print statements to custom_logger
  callback_plugins/custom_logger.py
Due: feature-verification-tests-noop

add gather_facts: true so report result knos about logs_dir
  ci/logging_tests_local.yml
Due: functional-tests-on-osp18

Find the report file
  ci/report_result.yml
Due: functional-tests-on-osp18

Remove references to junit_xml plugin
  ci/ansible.cfg
  ci/osp18_functional_tests.yml
  ci/report_result.yml
Due: functional-tests-on-osp18

[telemetry_logging] Update the journal tests
  roles/telemetry_logging/tasks/journal_tests.yml
  roles/telemetry_logging/tasks/main.yml
Due: functional-tests-on-osp18

[autoscaling] Update test_services for fail condition/additional debug
  roles/telemetry_autoscaling/tasks/test_services.yml
Due: functional-tests-on-osp18

Add check container tests
  roles/common/README.md
  roles/common/defaults/main.yml
  roles/common/tasks/container_status.yml
  roles/common/tasks/main.yml
  roles/common/vars/main.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

[telemetry_logging] Update the journal tests (#141)
  roles/telemetry_logging/tasks/journal_tests.yml
  roles/telemetry_logging/tasks/main.yml
Due: functional-tests-on-osp18

Changing autoscaling tests name from RHOSHO-XXXX pattern to match polarion's automation IDs.
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18

[ci] Run report_result in a separate hook
  ci/report_result.yml
  ci/run_autoscaling_osp18.yml
  ci/vars-functional-test.yml
Due: functional-tests-on-osp18

update logs path
  ci/report_result.yml
  ci/vars/common.yml
Due: functional-tests-on-osp18

Update log files
  ci/report_result.yml
  ci/run_autoscaling_osp18.yml
  ci/vars/common.yml
Due: functional-tests-on-osp18

Fix missing quotes in test_health_status.yml
  roles/test_sensubility/tasks/test_health_status.yml
Due: functional-tests-on-osp18

Fix spurious quotes in test_health_status.yml
  roles/test_sensubility/tasks/test_health_status.yml
Due: functional-tests-on-osp18

[ci] Run report_result in a separate hook (#142)
  ci/report_result.yml
  ci/run_autoscaling_osp18.yml
  ci/vars-functional-test.yml
  ci/vars/common.yml
Due: functional-tests-on-osp18

[report_result] Update check for failed tests
  ci/report_result.yml
Due: functional-tests-on-osp18

custom_logger: check for results for a host before creating the summary
  callback_plugins/custom_logger.py
Due: feature-verification-tests-noop

Path conditions:
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
