Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Path conditions:
  functional-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-graphing-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-metric-verification-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, roles/common/*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml, .zuul.yaml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-periodic-telemetry-with-ceph: any of: roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml, .zuul.yaml

[telemetry_chargeback] Use double quotes for previous_scenario_end_time to match master
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[DNM] Trigger failures to get post-fix data for job duration
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Trigger failures to get baseline for job duration
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Reduce futile retries in autoscaling tests on failure
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] FVT - Add Cloudkitty rating query and validation (#417)
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/job_scenario_stats.yml
  roles/telemetry_chargeback/tasks/loki_total_rate.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] Update README with comprehensive variable documentation
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

Reduce futile retries in autoscaling tests on failure (#428)
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] Add per-scenario rating validation and comprehensive Loki data handling
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/loki_total_rate.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[telemetry_chargeback] Comprehensive Loki data generation and job scenario statistics
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

Adjust test tasks names so they will report to Polarion.
  roles/telemetry_audit_logging/tasks/verify_loki_separation.yml
  roles/telemetry_audit_logging/tasks/verify_service_audit_logs.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] Update README.md to match 8d1 branch
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

[telemetry_chargeback] FVT - enable summary rating validation after each test scenario (#427)
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/loki_total_rate.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] Add test scenarios with optimized timing for CloudKitty retention
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/test_01_dyn_basic.yml
  roles/telemetry_chargeback/files/test_02_dyn_varying_qty.yml
  roles/telemetry_chargeback/files/test_03_mutate_ceil_floor.yml
  roles/telemetry_chargeback/files/test_04_notnumbool_zero.yml
  roles/telemetry_chargeback/files/test_05_static.yml
  roles/telemetry_chargeback/tasks/loki_total_rate.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

add scenario name to tasks in loki_total_rate.yml which will allow debugging more easily
  roles/telemetry_chargeback/tasks/loki_total_rate.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

add scenario name to tasks in loki_total_rate.yml which will allow (#432)
  roles/telemetry_chargeback/tasks/loki_total_rate.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] FVT - Add needed test scenario for validating cloudkitty rating summary (#431)
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/test_01_dyn_basic.yml
  roles/telemetry_chargeback/files/test_02_dyn_varying_qty.yml
  roles/telemetry_chargeback/files/test_03_mutate_ceil_floor.yml
  roles/telemetry_chargeback/files/test_04_notnumbool_zero.yml
  roles/telemetry_chargeback/files/test_05_static.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Update functional-tests for cp
  .zuul.yaml
  ci/patch-openstack-versions.yaml.j2
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Use the content provider for s2i
  .zuul.yaml
  ci/patch-openstack-versions.yaml.j2
  ci/vars-use-master-containers.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

TEST Use s2i images
  .zuul.yaml
  ci/patch-openstack-versions.yaml.j2
  ci/vars-use-master-containers.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Repair RHELOSP-148698/148699 alert verification
  roles/client_side_tests/tasks/get_prom_info.yml
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
  roles/test_snmp_traps/tasks/main.yml
Due: feature-verification-tests-noop

[telemetry_chargeback] Update README with CloudKitty resource limitations
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

[telemetry_chargeback] Update README with CloudKitty resource limitations and 5 test scenarios
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

[telemetry_chargeback] Update README with CloudKitty resource limitations and 5 test scenarios
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/test_01_dyn_basic.yml
  roles/telemetry_chargeback/files/test_02_dyn_varying_qty.yml
  roles/telemetry_chargeback/files/test_03_mutate_ceil_floor.yml
  roles/telemetry_chargeback/files/test_04_notnumbool_zero.yml
  roles/telemetry_chargeback/files/test_05_static.yml
  roles/telemetry_chargeback/tasks/loki_total_rate.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[telemetry_chargeback] Update README with CloudKitty resource limitations and 5 test scenarios (#433)
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

Test CK + ceilo images
  .zuul.yaml
  ci/patch-openstack-versions.yaml.j2
  ci/vars/common.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Setup local machine changes for CloudKitty testing
  ci/ansible.cfg
  ci/roles
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add absolute path to FVT roles directory in ansible.cfg
  ci/ansible.cfg
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Improve RHELOSP-148698 and RHELOSP-148699 alert verification
  roles/client_side_tests/tasks/get_prom_info.yml
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
  roles/test_snmp_traps/tasks/main.yml
Due: feature-verification-tests-noop

Update CK images
  ci/vars-use-master-containers.yml
  ci/vars/common.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Use update_containers
  ci/vars-use-master-containers.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

just a test
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Pin cypress to 15.21.1
  roles/telemetry_graphing/defaults/main.yml
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Bound Cypress CI run with timeout and cleanup
  roles/telemetry_graphing/defaults/main.yml
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[custom_logger] Make the PREFIX configurable
  ansible.cfg
  callback_plugins/custom_logger.py
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

fix: expect EDPM ovn-controller metrics on port 9105
  roles/telemetry_verify_metrics/tasks/verify_ovn_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Pin cypress to 15.21.1 (#439)
  roles/telemetry_graphing/defaults/main.yml
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18
