Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-on-osp18, feature-verification-tests-noop

functional-tests-on-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the autoscaling functional test on osp18+patched version of aodh and heat.
  
    '
  vars:
    patch_openstackversions: true
    cifmw_extras:
  ...

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

Update .ansible-lint
  .ansible-lint
Due: functional-tests-on-osp18

Update subscription_tests.yml
  roles/qe_common/tasks/subscription_tests.yml
Due: functional-tests-on-osp18

role name change
  roles/common/tasks/container_tests.yml
  roles/common/tasks/cred_tests.yml
  roles/common/tasks/endpoint_tests.yml
  roles/common/tasks/file_tests.yml
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
  roles/common/tasks/node_tests.yml
  roles/common/tasks/pod_tests.yml
  roles/common/tasks/proj_tests.yml
  roles/common/tasks/service_tests.yml
  roles/common/tasks/subscription_tests.yml
Due: functional-tests-on-osp18

Create README.md
  roles/qe_common/README.md
Due: feature-verification-tests-noop

Update file_tests.yml
  roles/qe_common/tasks/file_tests.yml
Due: functional-tests-on-osp18

Update container_tests.yml
  roles/qe_common/tasks/container_tests.yml
Due: functional-tests-on-osp18

Update service_tests.yml
  roles/common/tasks/service_tests.yml
Due: functional-tests-on-osp18

Create README.md
  roles/common/README.md
Due: feature-verification-tests-noop

Update node_tests.yml
  roles/qe_common/tasks/node_tests.yml
Due: functional-tests-on-osp18

Fix linter errors
  .ansible-lint
  roles/qe_common/tasks/container_tests.yml
  roles/qe_common/tasks/cred_tests.yml
  roles/qe_common/tasks/endpoint_tests.yml
  roles/qe_common/tasks/main.yml
Due: functional-tests-on-osp18

Update pod_tests.yml
  roles/qe_common/tasks/pod_tests.yml
Due: functional-tests-on-osp18

Update main.yml
  roles/qe_common/tasks/main.yml
Due: functional-tests-on-osp18

Update README.md
  roles/qe_common/README.md
Due: feature-verification-tests-noop

Update README.md
  roles/common/README.md
Due: feature-verification-tests-noop

Delete roles/qe_common/tasks/credential_tests.yml
  roles/qe_common/tasks/credential_tests.yml
Due: functional-tests-on-osp18

Update cred_tests.yml
  roles/common/tasks/cred_tests.yml
Due: functional-tests-on-osp18

Update manifest_tests.yml
  roles/qe_common/tasks/manifest_tests.yml
Due: functional-tests-on-osp18

Update subscription_tests.yml
  roles/common/tasks/subscription_tests.yml
Due: functional-tests-on-osp18

update the revert command
  ci/run_playbooks.yml
Due: functional-tests-on-osp18

Add telemetry_logging role (#124)
  roles/telemetry_logging/README.md
  roles/telemetry_logging/meta/main.yml
  roles/telemetry_logging/tasks/journal_tests.yml
  roles/telemetry_logging/tasks/main.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

Add telemetry_logging role (#124) (#138)
  roles/telemetry_logging/README.md
  roles/telemetry_logging/meta/main.yml
  roles/telemetry_logging/tasks/journal_tests.yml
  roles/telemetry_logging/tasks/main.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

extend and create a custom plugin
  callback_plugins/custom_junit.py
  callback_plugins/custom_logger.py
  ci/ansible.cfg
Due: functional-tests-on-osp18, feature-verification-tests-noop

[zuul][autoscaling] update the revert command (#137)
  ci/run_playbooks.yml
Due: functional-tests-on-osp18

[WIP] Add jUNitXML plugin to create the output xml file
  ci/ansible.cfg
  ci/osp18_functional_tests.yml
  ci/report_result.yml
Due: functional-tests-on-osp18

adding rescue block to gather all the autsocaling objects
  roles/telemetry_autoscaling/tasks/test_services.yml
Due: functional-tests-on-osp18

[zuul]Add Graphing Job
  .zuul.yaml
  ci/osp18_functional_tests.yml
  ci/report_result.yml
  ci/run_playbooks.yml
  ci/vars-functional-test.yml
  roles/telemetry_graphing/README.md
  roles/telemetry_graphing/defaults/main.yml
  roles/telemetry_graphing/handlers/main.yml
  roles/telemetry_graphing/tasks/main.yml
  roles/telemetry_graphing/vars/main.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

Update Autoscaling Job
  callback_plugins/custom_logger.py
  ci/osp18_functional_tests.yml
  ci/report_result.yml
  ci/run_autoscaling_osp18.yml
  ci/vars-functional-test.yml
  ci/vars/common.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/post_teardown.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

comment summary log
  callback_plugins/custom_logger.py
Due: feature-verification-tests-noop

solve the logger_test
  .github/workflows/check_plugin.yml
  callback_plugins/custom_logger.py
  ci/report_result.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

[callback_plugins] Update customer junit and restore custom_logger
  callback_plugins/custom_junit.py
  callback_plugins/custom_logger.py
  ci/ansible.cfg
Due: functional-tests-on-osp18, feature-verification-tests-noop

Path conditions:
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
