Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

openstack-k8s-operators-content-provider:
  override-checkout: main

functional-autoscaling-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the autoscaling functional tests and tempest tests on osp18+patched
  
    versions of aodh and heat.
  
    '
  vars:
    patch_openstackversions: true
    cifmw_extras:
  ...

functional-logging-tests-osp18:
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests and tempest smoketests on osp18
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

functional-graphing-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the UI Graphing test and tempest smoketests on osp18.
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

functional-metric-verification-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the metric verification functional test and tempest smoketests on osp18.
  
    '
  vars:
    patch_observabilityclient: true
    cifmw_extras:
  ...

[zuul] Re-parent the verify-metrics job
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[zuul] Re-parent the verify-metrics job (#266)
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

update scrapeconfig name
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

debug the error
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Update verify_ceilometer_prom_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

[ci] Move FVT results to tests/ instead of logs
  ci/vars/common.yml
Due: openstack-k8s-operators-content-provider

[report_results] Copy the XML file to the old location as well as the new one
  ci/report_result.yml
  ci/vars/common.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Debug failure
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Clean up the debug
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Fix verify metrics rabbitmq command
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Fix verify metrics rabbitmq command (#269)
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Remove extra line
  roles/telemetry_verify_metrics/tasks/main.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Adding a test that checks that collectd memory limit
  roles/test_collectd/tasks/main.yml
Due: feature-verification-tests-noop

Update roles/test_collectd/tasks/main.yml
  roles/test_collectd/tasks/main.yml
Due: feature-verification-tests-noop

Adding a test that checks that collectd memory limit set to 512Mb
  roles/test_collectd/tasks/main.yml
Due: feature-verification-tests-noop

Adding a test that checks that collectd memory limit.
  roles/test_collectd/tasks/main.yml
Due: feature-verification-tests-noop

Add test for ceilometer-ipmi
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

debug failure
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

debug failure
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

[ci] Update the heat images used
  ci/patch-openstack-versions.yaml
Due: openstack-k8s-operators-content-provider

[zuul] update typo on file
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

debug failure
  roles/telemetry_graphing/files/cypress.config.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

[ci] Copy results files immediately after running FVTs
  ci/report_result.yml
  ci/vars-functional-test.yml
  ci/vars-graphing-test.yml
  ci/vars-logging-test.yml
  ci/vars-metric-verification-test.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[ci] Copy results files immediately after running FVTs (#268)
  ci/report_result.yml
  ci/vars-functional-test.yml
  ci/vars-graphing-test.yml
  ci/vars-logging-test.yml
  ci/vars-metric-verification-test.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[custom_junit] Add config option for output_dir
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

[custom_junit] Add config options via ini file and env var
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

debug failure
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

debug
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

Add ceilometer prom exporter test (#241)
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

debug
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

[ci] Use pre_tests hooks for running FVTs
  ci/vars-graphing-test.yml
  ci/vars-logging-test.yml
  ci/vars-metric-verification-test.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

debug the scrapeconfig
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

debug
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

[ci] Use pre_tests hooks for running FVTs (#272)
  ci/vars-graphing-test.yml
  ci/vars-logging-test.yml
  ci/vars-metric-verification-test.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Path conditions:
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  openstack-k8s-operators-content-provider: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: any of: roles/telemetry_autoscaling/.*, .zuul.yaml, ci/vars-functional-test.yml, ci/run_autoscaling_osp18.yml, ci/vars-use-master-containers.yml, ci/use-master-containers.yml, ci/patch-openstack-version.yaml, ci/report_result.yml
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-graphing-tests-osp18: (any of: roles/telemetry_graphing/.*, .zuul.yaml, ci/vars-graphing-test.yml, ci/run_graphing_test.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-metric-verification-tests-osp18: (any of: roles/telemetry_verify_metrics/.*, .zuul.yaml, ci/vars-metric-verification-test.yml, ci/run_verify_metrics_osp18.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
