Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

openstack-k8s-operators-content-provider:
  override-checkout: main

functional-autoscaling-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the autoscaling functional tests and tempest tests on osp18+patched
  
    versions of aodh and heat.
  
    '
  vars:
    patch_openstackversions: true
    cifmw_extras:
  ...

functional-logging-tests-osp18:
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests and tempest smoketests on osp18
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

functional-graphing-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the UI Graphing test and tempest smoketests on osp18.
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

functional-metric-verification-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the metric verification functional test and tempest smoketests on osp18.
  
    '
  vars:
    patch_observabilityclient: true
    cifmw_extras:
  ...

Update vars-metric-verification-test.yml
  ci/vars-metric-verification-test.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Create run_verify_metrics_osp18.yml
  ci/run_verify_metrics_osp18.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Update .zuul.yaml
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Update jobs description
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

update base URL
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

change the trigger
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

change the trigger
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

Remove Enable Graphing tasks in the test (#262)
  ci/run_graphing_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

Combine metrics and autoscaling fvt into one job (#254)
  .zuul.yaml
  ci/run_cloudops_tests_osp18.yml
  ci/vars-functional-test.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Update cypress.config.js
  roles/telemetry_graphing/files/cypress.config.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

change the trigger
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

update login
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

update login
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

use cypres version 12
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

debug with login request
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

try with post reqyest
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

[ci] Set default values for patch_observabilityclient
  ci/run_cloudops_tests_osp18.yml
  ci/run_verify_metrics_osp18.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

[ci] Set default values for patch_observabilityclient (#264)
  ci/run_cloudops_tests_osp18.yml
  ci/run_verify_metrics_osp18.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Update verify_mariadb_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

update cypress version
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

use differnt config
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

use differnt config
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

Update Polarion Test label in MariaDB tests (#265)
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Set default values for *_test_id vars
  roles/common/defaults/main.yml
  roles/telemetry_logging/defaults/main.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

Set default values for *_test_id vars (#255)
  roles/common/defaults/main.yml
  roles/telemetry_logging/defaults/main.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[common] Update the CR tests to mark one as optional
  roles/common/tasks/cr_tests.yml
Due: openstack-k8s-operators-content-provider

Add conditions to task
  roles/common/tasks/cr_tests.yml
Due: openstack-k8s-operators-content-provider

[ci] Remove ``files`` from autoscaling job definition
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[ci] Remove ``files`` from autoscaling job definition (#267)
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Path conditions:
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  openstack-k8s-operators-content-provider: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: any of: roles/telemetry_autoscaling/.*, .zuul.yaml, ci/vars-functional-test.yml, ci/run_autoscaling_osp18.yml, ci/vars-use-master-containers.yml, ci/use-master-containers.yml, ci/patch-openstack-version.yaml, ci/report_result.yml
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-graphing-tests-osp18: (any of: roles/telemetry_graphing/.*, .zuul.yaml, ci/vars-graphing-test.yml, ci/run_graphing_test.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-metric-verification-tests-osp18: (any of: roles/telemetry_verify_metrics/.*, .zuul.yaml, ci/vars-metric-verification-test.yml, ci/run_verify_metrics_osp18.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
