Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-on-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Path conditions:
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-metric-verification-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: any of: roles/telemetry_autoscaling/.*, roles/common/*, .zuul.yaml, ci/vars-functional-test.yml, ci/run_cloudops_tests_osp18.yml, ci/vars-use-master-containers.yml, ci/use-master-containers.yml, ci/patch-openstack-version.yaml, ci/report_result.yml, roles/telemetry_verify_metrics/.*, ci/vars-metric-verification-test.yml
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, roles/common/*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-graphing-tests-osp18: (any of: roles/telemetry_graphing/.*, .zuul.yaml, ci/vars-graphing-test.yml, ci/run_graphing_test.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)

Remove unneeded ids from fvt tests
  ci/logging_tests_computes.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

Remove unneeded ids from fvt tests (#305)
  ci/logging_tests_computes.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[ci] Create functional-tests-osp18 job
  .zuul.yaml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[ci] Merge vars-logging-test playbook into vars-functional-test
  .zuul.yaml
  ci/logging_tests_all.yml
  ci/run_functional_tests.yml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[ci] Improve fvt skip tests logic
  ci/run_autoscaling_tests.yml
  ci/run_graphing_test.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-graphing-tests-osp18

[ci] Rename logging tests
  ci/run_functional_tests.yml
  ci/run_logging_tests_computes.yml
  ci/run_logging_tests_controller.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18

[ci] Rename run_cloudops_tests_osp18.yml by run_autoscaling_tests.yml
  ci/run_autoscaling_tests.yml
  ci/run_fvt_tests.yml
  ci/vars-functional-test.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18

[ci] Consolidate autoscaling and graphing playbooks into functional playbook
  .zuul.yaml
  ci/run_functional_tests.yml
  ci/vars-functional-test.yml
  ci/vars-fvt-tests.yml
  ci/vars-graphing-test.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[ci] Converge autoscaling & graphing osp18 tests based on enabled features
  .zuul.yaml
  ci/run_cloudops_tests_osp18.yml
  ci/run_fvt_tests.yml
  ci/run_graphing_test.yml
  ci/vars-fvt-tests.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[ci] Update github-check with functional-tests-osp18
  .zuul.yaml
  ci/logging_tests_all.yml
  ci/logging_tests_computes.yml
  ci/logging_tests_controller.yml
  ci/run_autoscaling_tests.yml
  ci/run_functional_tests.yml
  ci/run_graphing_test.yml
  ci/vars-functional-test.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

OSPRH-16753: Converge autoscaling logging & graphing tests based on enabled features (#275)
  .zuul.yaml
  ci/run_autoscaling_tests.yml
  ci/run_functional_tests.yml
  ci/run_graphing_test.yml
  ci/vars-functional-test.yml
  ci/vars-graphing-test.yml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[ci] Remove old functional test aliases
  .zuul.yaml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[ci] Re-add logging vars
  .zuul.yaml
  ci/run_functional_tests.yml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add disable-rbac to volume metric tests
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18

[ci] Re-add the graphing test vars file
  ci/vars-graphing-test.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-graphing-tests-osp18

[ci] Re-add logging vars (#308)
  .zuul.yaml
  ci/run_functional_tests.yml
  ci/vars-graphing-test.yml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Adding a test that checks that collectd memory limit set to 512Mb (#227)
  roles/test_collectd/tasks/main.yml
Due: feature-verification-tests-noop

Add kepler_vm metrics test when CPU load is high
  ci/vars/osp18_env.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_kepler_vm_metrics.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18

test target health
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18

Adjust the logic for scaling down test
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18

Revert "test target health"
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18

Add disable-rbac to volume metric tests (#307)
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18

Update test_autoscaling.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18

Add cloudkitty test
  ci/run_cloudkitty_tests.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18

Add script based on cloudkitty docs
  ci/run_cloudkitty_tests.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18

Add test to verify prometheus secret
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_prometheus_secret.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18

Revert "test target health"
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_prometheus_secret.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18

[ci Add tasks to enable hashmap module
  ci/run_cloudkitty_tests.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18

[c][ck] Add task to delete created group and service
  ci/run_cloudkitty_tests.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18

Adjust Logic for verify_orchestration_scaled_down_instances (#311)
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18

[telemetry_verify_metrics]: Add ovn feature tests
  .zuul.yaml
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ovn_metrics.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[telemetry_verify_metrics]: Add ovn feature tests (#313)
  .zuul.yaml
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ovn_metrics.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add deferred cleanup option for autoscaling tests
  ci/run_autoscaling_tests.yml
  roles/telemetry_autoscaling/README.md
  roles/telemetry_autoscaling/defaults/main.yml
  roles/telemetry_autoscaling/tasks/main.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-autoscaling-tests-osp18

[ci] Delete instance created by make edpm_deploy_instance
  ci/run_autoscaling_tests.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18

Add deferred cleanup option for autoscaling tests (#314)
  ci/run_autoscaling_tests.yml
  roles/telemetry_autoscaling/README.md
  roles/telemetry_autoscaling/defaults/main.yml
  roles/telemetry_autoscaling/tasks/main.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-autoscaling-tests-osp18

Add conditional testing for ovn router traffic metrics
  roles/telemetry_verify_metrics/tasks/verify_ovn_metrics.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18

Add conditional testing for ovn router traffic metrics (#316)
  roles/telemetry_verify_metrics/tasks/verify_ovn_metrics.yml
Due: functional-tests-on-osp18, functional-metric-verification-tests-osp18, functional-autoscaling-tests-osp18
