Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

.zuul.yaml:

---
- job:
    name: functional-tests-on-osp18
    parent: telemetry-operator-multinode-autoscaling
    description: |
      Run the autoscaling functional test on osp18+patched version of aodh and heat.
    vars:
      patch_openstackversions: true
      cifmw_extras:
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/ci-framework'].src_dir  }}/scenarios/centos-9/multinode-ci.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/telemetry-operator'].src_dir }}/ci/vars-autoscaling.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/infrawatch/feature-verification-tests'].src_dir }}/ci/vars-functional-test.yml"
    roles:
      - zuul: github.com/openstack-k8s-operators/ci-framework
    required-projects: &required_projects
      - name: github.com/infrawatch/service-telemetry-operator
      - name: openstack-k8s-operators/ci-framework
        override-checkout: main
      - name: openstack-k8s-operators/install_yamls
        override-checkout: main
      - name: github.com/openstack-k8s-operators/dataplane-operator
        override-checkout: main
      - name: github.com/openstack-k8s-operators/infra-operator
        override-checkout: main
      - name: github.com/openstack-k8s-operators/openstack-operator
        override-checkout: main
      - name: github.com/openstack-k8s-operators/openstack-must-gather
        override-checkout: main
      - name: github.com/openstack-k8s-operators/telemetry-operator
        override-checkout: main
    irrelevant-files: &irrelevant_files
      - .github/.*
      - ci/github/.*
      - callback_plugins/.*
      - README*
      - .*/*.md

- job:
    name: functional-logging-tests-osp18
    parent: telemetry-operator-multinode-logging
    description: |
      Run the logging functional tests on osp18
    vars:
      cifmw_extras:
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/ci-framework'].src_dir  }}/scenarios/centos-9/multinode-ci.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/telemetry-operator'].src_dir }}/ci/vars-logging.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/infrawatch/feature-verification-tests'].src_dir }}/ci/vars-logging-test.yml"
    roles:
      - zuul: github.com/openstack-k8s-operators/ci-framework
    required-projects: *required_projects
    irrelevant-files: *irrelevant_files

- job:
    name: feature-verification-tests-noop
    parent: noop
    description: |
      A job that always passes. Runs when there's a change to jobs that don't
      need full zuul to run but still need to report a pass.
    run:
      - ci/noop.yml
    files: *irrelevant_files

- job:
    name: functional-graphing-tests-osp18
    parent: functional-tests-on-osp18
    description: |
      Run the UI Graphing test on osp18.
    vars:
      cifmw_extras:
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/ci-framework'].src_dir  }}/scenarios/centos-9/multinode-ci.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/telemetry-operator'].src_dir }}/ci/vars-autoscaling.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/infrawatch/feature-verification-tests'].src_dir }}/ci/vars-functional-test.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/infrawatch/feature-verification-tests'].src_dir }}/ci/vars-graphing-test.yml"
    required-projects: *required_projects
    irrelevant-files: *irrelevant_files
      

- project:
    name: infrawatch/feature-verification-tests
    github-check:
      jobs:
        - feature-verification-tests-noop
        - openstack-k8s-operators-content-provider:
            override-checkout: main
        - functional-tests-on-osp18
        - functional-logging-tests-osp18
        - functional-graphing-tests-osp18

Edit the task name into snakecase
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Update test_logger.yml playbook
  ci/github/test_logger.yml
Due: feature-verification-tests-noop

Update debugging
  callback_plugins/custom_junit.py
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

[ci] Remove unneeded tasks from run_autoscaling_osp18
  ci/run_autoscaling_osp18.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Update report_result
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[custom_junit] Add debug info (fix typo)
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Fix Exception
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Update the task in telemetry_autoscaling to use the TEST prefix
  ci/github/test_logger.yml
  ci/github/test_logger_expected_xml
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

[telemetry_autoscaling] Update test names to use prefix for junit_xml
  callback_plugins/custom_junit.py
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Update when the task name is mutated
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Add the custom_junit callback plugin
  callback_plugins/custom_junit.py
  ci/ansible.cfg
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Remove prefix from tasks
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[debug] Add print statements to the mutate_task_name to show task name change
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Update wheen the report_results get run
  callback_plugins/custom_junit.py
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Update hook order to run tests
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Fix syntax errors in custom_junit
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

custom_logger: check for results for a host before creating the summary
  callback_plugins/custom_logger.py
Due: feature-verification-tests-noop

update custom_junit
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Revert "[debug] increase ansible verbosity"
  ci/ansible.cfg
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Revert "Update hosts for report_result add some notes"
  ci/run_autoscaling_osp18.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Comment out some prints use ignore_errors with autoscaling tests
  callback_plugins/custom_junit.py
  ci/run_autoscaling_osp18.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Revert "set test_operator_dry_run true to skip running tests"
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[custom_junit] Record the outputs for prefix IN task_name
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

[ci] Revert changes to autoscaling osp18 playbook
  ci/run_autoscaling_osp18.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Revert "Update hook order to run tests"
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add prefix to test tasks
  callback_plugins/custom_junit.py
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Revert "custom_logger: check for results for a host before creating the summary"
  callback_plugins/custom_logger.py
Due: feature-verification-tests-noop

[telemetry_autoscaling] revert adding the prefixes
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[telemetry_autoscaling] Add test prefix to autoscaling tests
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

update the logging_tests_controller with a loop
  ci/logging_tests_controller.yml
  ci/vars/logging_test.yml
  roles/common/README.md
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Revert "update the logging_tests_controller with a loop"
  ci/logging_tests_controller.yml
  ci/vars/logging_test.yml
  roles/common/README.md
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

update README
  roles/common/README.md
Due: feature-verification-tests-noop

Add endpoint test
  ci/logging_tests_controller.yml
  roles/common/tasks/endpoint_tests.yml
  roles/common/tasks/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add crd_test
  ci/logging_tests_controller.yml
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[Logging] Add Pod Test
  ci/ansible.cfg
  ci/logging_tests_controller.yml
  ci/vars-logging-test.yml
  roles/common/README.md
  roles/common/tasks/main.yml
  roles/common/tasks/pod_tests.yml
  roles/test_ha/README.md
  roles/test_ha/defaults/main.yml
  roles/test_ha/meta/main.yml
  roles/test_ha/tasks/main.yml
  roles/test_ha/vars/main.yml
  stf_functional_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

update readme
  roles/common/README.md
Due: feature-verification-tests-noop

update readme
  roles/common/README.md
  roles/common/tasks/endpoint_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Update for Emma's comments
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/tasks/openstack_deployed.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Metric verification job
  .zuul.yaml
  ci/run_verify_metrics_osp18.yml
  ci/vars-metric-verification-test.yml
  ci/vars/osp18_env.yml
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/meta/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/openstack_deployed.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18
