Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

functional-tests-osp18:
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run autoscaling functional tests, tempest tests, metrics
  
    functional tests, graphing functional tests and logging functional tests on
  
  ...

functional-tests-on-osp18:
  parent: functional-tests-osp18
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  description: 'functional-tests-on-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-on-osp18 jobs.
  
    '

functional-autoscaling-tests-osp18:
  parent: functional-tests-osp18
  description: 'functional-autoscaling-tests-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-osp18.
  
    '

functional-graphing-tests-osp18:
  parent: functional-tests-osp18
  description: 'functional-graphing-tests-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-osp18.
  
    '

functional-metric-verification-tests-osp18:
  parent: functional-tests-osp18
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  description: 'Run the autoscaling functional tests, tempest tests and metrics
  
    functional tests on osp18+patched versions of adoh and heat.
  
    '

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

functional-logging-tests-osp18:
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests and tempest smoketests on osp18
  
    '
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  vars:
    cifmw_update_containers: false
    cifmw_extras:
  ...

functional-periodic-telemetry-with-ceph:
  parent: podified-multinode-hci-deployment-crc-1comp-backends
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  description: 'Deploy OpenStack with Telemetry and Ceph. Run metric-verification with volume pool metric tests
  
    '
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  vars:
  ...

[custom_logger] Make the PREFIX configurable
  .github/workflows/check_plugin.yml
  ansible.cfg
  callback_plugins/custom_logger.py
  ci/ansible.cfg
  ci/github/ansible.cfg
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[ci] Add a semphore to limit jobs using the big nodeset
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Delete obsolete tests in verify-metrics (#455)
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Fix tests that report nothing or report falsely
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_services.yml
  roles/telemetry_autoscaling/tasks/verify_autoscaling.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-periodic-telemetry-with-ceph

Fix mysqld-exporter and ceilometer-compute curls (#450)
  roles/telemetry_verify_metrics/tasks/check_compute_tls.yml
  roles/telemetry_verify_metrics/tasks/setup_mtls_certs.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[DNM] DEMO Prove the tests fail fast
  .zuul.yaml
  ci/run_fail_fast_demo.yml
  ci/vars-fail-fast-demo.yml
  ci/vars/fault_injection.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Add a local inventory, runner script and docs
  README.rst
  ci/inventory/local.yml
  ci/run_functional_tests_locally.sh
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[ci] Add local fallbacks for the cifmw_* and zuul vars
  ci/logging_tests_computes.yml
  ci/logging_tests_controller.yml
  ci/report_result.yml
  ci/run_audit_logging_tests.yml
  ci/run_chargeback_tests.yml
  ci/run_verify_metrics_osp18.yml
  ci/use-master-containers.yml
  ci/vars/common.yml
  ci/vars/defaults.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[telemetry_chargeback] Default the artifacts directory outside CI
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[ci] Gate the CI-only autoscaling setup and check graphing credentials
  ci/run_autoscaling_tests.yml
  ci/run_graphing_test.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_verify_metrics] Fail fast when metrics cannot be queried
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_central_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_ipmi_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ksm_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_openstack_network_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ovn_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_podman_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-periodic-telemetry-with-ceph

[telemetry_autoscaling] Fail fast when pre-reqs are not met
  roles/telemetry_autoscaling/defaults/main.yml
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
  roles/telemetry_autoscaling/tasks/test_services.yml
  roles/telemetry_autoscaling/tasks/verify_autoscaling.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add OSP19 job variants and abstract parent jobs
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

[OSPRH-32255] Test that all galera nodes are scraped
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Path conditions:
  functional-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-graphing-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-metric-verification-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, roles/common/*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml, .zuul.yaml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-periodic-telemetry-with-ceph: any of: roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml, .zuul.yaml
