Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

functional-tests-osp18:
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run autoscaling functional tests, tempest tests, metrics
  
    functional tests, graphing functional tests and logging functional tests on
  
  ...

functional-tests-on-osp18:
  parent: functional-tests-osp18
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  description: 'functional-tests-on-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-on-osp18 jobs.
  
    '

functional-autoscaling-tests-osp18:
  parent: functional-tests-osp18
  description: 'functional-autoscaling-tests-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-osp18.
  
    '

functional-graphing-tests-osp18:
  parent: functional-tests-osp18
  description: 'functional-graphing-tests-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-osp18.
  
    '

functional-metric-verification-tests-osp18:
  parent: functional-tests-osp18
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  description: 'Run the autoscaling functional tests, tempest tests and metrics
  
    functional tests on osp18+patched versions of adoh and heat.
  
    '

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

functional-logging-tests-osp18:
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests and tempest smoketests on osp18
  
    '
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  vars:
    cifmw_update_containers: false
    cifmw_extras:
  ...

functional-periodic-telemetry-with-ceph:
  parent: podified-multinode-hci-deployment-crc-1comp-backends
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  description: 'Deploy OpenStack with Telemetry and Ceph. Run metric-verification with volume pool metric tests
  
    '
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  vars:
  ...

Made changes to the python scripts for consistency and accuracty:
  roles/telemetry_chargeback/files/gen_db_summary.py
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/test_dyn_basic.yml
  roles/telemetry_chargeback/files/test_static.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/templates/loki_data_templ.j2
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add cloudkitty_debug_dir to README variable table
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

Delete .gitignore
  .gitignore
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Adding loki flush tasks file. (#373)
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Fix fail message for task verifying flush status
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Fixed lint error
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Made changes to the python scripts for consistency and accuracty: (#383)
  roles/telemetry_chargeback/files/gen_db_summary.py
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/test_dyn_basic.yml
  roles/telemetry_chargeback/files/test_static.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/templates/loki_data_templ.j2
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Fix RHELOSP-176036 and RHELOSP-176038 sensubility health status tests
  roles/client_side_tests/tasks/get_prom_info.yml
  roles/test_sensubility/tasks/test_health_status.yml
Due: feature-verification-tests-noop

Fix fail message for task verifying flush status (#385)
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] Add Loki data retrieval and processing tasks
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Fix gen_db_summary.py arguments in retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Reorganize task execution to avoid duplicated RHELOSP-144965 test
  roles/test_alerts/tasks/main.yml
  roles/test_alerts/tasks/test_create_an_alert.yml
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
Due: feature-verification-tests-noop

Fix to getting loki data downloaded
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Reorganize task execution to avoid duplicated RHELOSP-144965 test (#390)
  roles/test_alerts/tasks/main.yml
  roles/test_alerts/tasks/test_create_an_alert.yml
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
Due: feature-verification-tests-noop

Testing extra-vars parameter
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

set cloudkitty_test_scenarios back to empty list
  roles/telemetry_chargeback/defaults/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] simplify test scenario list generation
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

DNM - Checking OSPRH-22190
  .zuul.yaml
  test.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

[telemetry_chargeback] Add Loki data retrieval and processing tasks
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

adds .ansible/ to ignore file for FVT
  .gitignore
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] cleanup vars/main.yml
  roles/telemetry_chargeback/vars/main.yml
  roles/test_alerts/tasks/main.yml
  roles/test_alerts/tasks/test_create_an_alert.yml
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[telemetry_chargeback] made small changes to gen_synth_loki_data.py
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback]
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] made small changes to gen_synth_loki_data.py (#391)
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] cleanup vars/main.yml (#395)
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

adds .ansible/ to ignore file for FVT (#394)
  .gitignore
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Update READEME.md to include test scenario passed via extra-vars
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[telemetry_chargeback] Add CloudKitty Scope API verification tests (OSPRH-23754)
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/scope_api_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Remove the unneeded documentation comments about variable precedence
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

Improve fask failure detection for ingest and retrieve task files
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] Add cloudkitty_test_scenarios var (#389)
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

File to trigger Valdiation run DNM
  roles/telemetry_chargeback/TEST.md
Due: feature-verification-tests-noop

[OSPRH-30704] Check ceilometer_cpu labels
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Improve fask failure detection for ingest and retrieve task files
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Enable retrieval of loki data
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Enable retrieval of loki data
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Rebase
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Update gen_synth_loki_data.py
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Remove duplicate scenario name derivation code
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Path conditions:
  functional-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-graphing-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-metric-verification-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, roles/common/*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml, .zuul.yaml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-periodic-telemetry-with-ceph: any of: roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml, .zuul.yaml
