Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Path conditions:
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  openstack-k8s-operators-content-provider: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: any of: roles/telemetry_autoscaling/.*, .zuul.yaml, ci/vars-functional-test.yml, ci/run_autoscaling_osp18.yml, ci/vars-use-master-containers.yml, ci/use-master-containers.yml, ci/patch-openstack-version.yaml, ci/report_result.yml
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-graphing-tests-osp18: (any of: roles/telemetry_graphing/.*, .zuul.yaml, ci/vars-graphing-test.yml, ci/run_graphing_test.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-metric-verification-tests-osp18: (any of: roles/telemetry_verify_metrics/.*, .zuul.yaml, ci/vars-metric-verification-test.yml, ci/run_verify_metrics_osp18.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)

Update verify_ceilometer_compute_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Remove TODO for ceilometer_power_state compute metrics test (#276)
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Update test_health_status.yml
  roles/test_sensubility/tasks/test_health_status.yml
Due: feature-verification-tests-noop

[temp] Make some temp updates to zuul
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[test_sensubility] Increase number of retries on metrics check (#274)
  roles/test_sensubility/tasks/test_health_status.yml
Due: feature-verification-tests-noop

debug
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

[ci] Write the XML files directly to ci-framework-data/tests/
  callback_plugins/custom_junit.py
  ci/report_result.yml
  ci/vars/common.yml
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Remove RHOSO-XXX IDs from the FVTs
  roles/common/defaults/main.yml
Due: openstack-k8s-operators-content-provider

Remove RHOSO-XXX IDs from the FVTs
  roles/common/tasks/container_test.yml
Due: openstack-k8s-operators-content-provider

Remove RHOSO-XXX IDs from the FVTs
  roles/common/tasks/cr_tests.yml
Due: openstack-k8s-operators-content-provider

Remove RHOSO-XXX IDs from the FVTs
  roles/common/tasks/endpoint_tests.yml
Due: openstack-k8s-operators-content-provider

Remove RHOSO-XXX IDs from the FVTs
  roles/common/tasks/file_tests.yml
Due: openstack-k8s-operators-content-provider

Remove RHOSO-XXX IDs from the FVTs
  roles/common/tasks/manifest_tests.yml
Due: openstack-k8s-operators-content-provider

Remove RHOSO-XXX IDs from the FVTs
  roles/common/tasks/pod_tests.yml
Due: openstack-k8s-operators-content-provider

Remove RHOSO-XXX IDs from the FVTs
  roles/common/tasks/project_tests.yml
Due: openstack-k8s-operators-content-provider

Remove RHOSO-XXX IDs from the FVTs
  roles/common/tasks/service_tests.yml
Due: openstack-k8s-operators-content-provider

Remove RHOSO-XXX IDs from the FVTs
  roles/common/tasks/subscription_tests.yml
Due: openstack-k8s-operators-content-provider

[common] Update manifest role and config
  ci/logging_tests_controller.yml
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[common][cr_tests] Update task names for XML reporting
  roles/common/tasks/cr_tests.yml
Due: openstack-k8s-operators-content-provider

[common][cr_tests] Rename the test for CR status
  roles/common/tasks/cr_tests.yml
Due: openstack-k8s-operators-content-provider

[ci/logging] Use include_role instead of import_role for using the common role
  ci/logging_tests_computes.yml
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

Use dicts to configure the tests
  ci/logging_tests_computes.yml
  ci/logging_tests_controller.yml
  roles/common/tasks/container_test.yml
  roles/common/tasks/cr_tests.yml
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/endpoint_tests.yml
  roles/common/tasks/file_tests.yml
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
  roles/common/tasks/pod_tests.yml
  roles/common/tasks/project_tests.yml
  roles/common/tasks/service_tests.yml
  roles/common/tasks/subscription_tests.yml
  roles/telemetry_logging/tasks/journal_tests.yml
  roles/telemetry_logging/tasks/main.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[ci] Update service configs
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[common] Update task names for XML reporting
  roles/common/tasks/cr_tests.yml
Due: openstack-k8s-operators-content-provider

[common] Fix var name in file_test
  roles/common/tasks/file_tests.yml
Due: openstack-k8s-operators-content-provider

Update the pod test definintions to use dicts
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[ci] Use dict for container test config
  ci/logging_tests_computes.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[telemetry_logging] Update task names for XML reporting
  roles/telemetry_logging/tasks/journal_tests.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[verify_metrics] try convert mariadb to use the new format
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

[common] Update manifest role and config
  ci/logging_tests_controller.yml
  roles/common/tasks/manifest_tests.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[ci] Update config options for services
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

sync ci/logging_tests_{controller,compute}.yml to master
  ci/logging_tests_computes.yml
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

Add more test ids
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[common] Update the CR tests to mark one as optional
  roles/common/tasks/cr_tests.yml
Due: openstack-k8s-operators-content-provider

[telemetry_logging] Update var names in role
  roles/telemetry_logging/tasks/main.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

Update test ids
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

Fix typos
  roles/common/tasks/manifest_tests.yml
  roles/common/tasks/project_tests.yml
Due: openstack-k8s-operators-content-provider

debug
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18
