Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Path conditions:
  functional-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-graphing-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-metric-verification-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, roles/common/*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml, .zuul.yaml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-periodic-telemetry-with-ceph: any of: roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml, .zuul.yaml

Adding scenario name to TEST to remove ambiguity in Polarion
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[custom_logger] Make the PREFIX configurable
  ansible.cfg
  callback_plugins/custom_logger.py
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Add branches selector to all jobs
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Pin cypress to 15.21.1 (#439) (#448)
  roles/telemetry_graphing/defaults/main.yml
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add pre-run playbook to enable LokiStack Gateway ingress for logging and chargeback tests
  .zuul.yaml
  ci/playbooks/enable-loki-ingress.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Add SSH key authorization for autohold debugging
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Fix SSH key authorization for autohold - use playbook instead of inline role
  .zuul.yaml
  ci/playbooks/add-ssh-key-autohold.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

refactor: Store Loki chargeback certificates in temporary folders
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/cleanup_ck.yml
  roles/telemetry_chargeback/tasks/copy_certs_to_pod.yml
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Fix YAML syntax in add-ssh-key-autohold playbook
  ci/playbooks/add-ssh-key-autohold.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Fix Loki gateway route name in setup_loki_env.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

fix: Add retry logic and error handling for certificate extraction and pod operations
  roles/telemetry_chargeback/tasks/copy_certs_to_pod.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

fix: Simplify temp directory paths using epoch timestamp
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

debug: Add certificate directory logging for troubleshooting
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Fix Loki gateway routing and SSH key authorization for logging and chargeback tests
  .zuul.yaml
  ci/playbooks/add-ssh-key-autohold.yml
  ci/playbooks/enable-loki-ingress.yml
  roles/client_side_tests/tasks/get_prom_info.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
  roles/telemetry_graphing/defaults/main.yml
  roles/telemetry_graphing/tasks/cypress_test.yml
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
  roles/test_snmp_traps/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Fix mysqld-exporter curl command
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Use mTLS when curling mysqld_exporter and ceilometer
  roles/telemetry_verify_metrics/tasks/check_compute_tls.yml
  roles/telemetry_verify_metrics/tasks/setup_mtls_certs.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

fix: disable container updates in chargeback job to prevent controlplane deployment timeout
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Revert setup_loki_env.yml to master version
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[autoscaling] Fix scaling_up_success incorrectly set when scale-up fails
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Accept Prometheus 3 config retention in RHELOSP-144484
  roles/test_metrics_retention/tasks/main.yml
Due: feature-verification-tests-noop

[ci] Add local fallbacks for the cifmw_* and zuul vars
  ci/logging_tests_computes.yml
  ci/logging_tests_controller.yml
  ci/report_result.yml
  ci/run_audit_logging_tests.yml
  ci/run_chargeback_tests.yml
  ci/run_verify_metrics_osp18.yml
  ci/use-master-containers.yml
  ci/vars/common.yml
  ci/vars/defaults.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[ci] Gate the CI-only autoscaling setup and check graphing credentials
  ci/run_autoscaling_tests.yml
  ci/run_graphing_test.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] Default the artifacts directory outside CI
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Add a local inventory, runner script and docs
  README.rst
  ci/inventory/local.yml
  ci/run_functional_tests_locally.sh
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[OSPRH-32255] Test that all galera nodes are scraped
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[DNM] DEMO Prove the tests fail fast
  .zuul.yaml
  ci/run_fail_fast_demo.yml
  ci/vars-fail-fast-demo.yml
  ci/vars/fault_injection.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

[custom_logger] Make the PREFIX configurable
  .github/workflows/check_plugin.yml
  ansible.cfg
  callback_plugins/custom_logger.py
  ci/ansible.cfg
  ci/github/ansible.cfg
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Fix tests that report nothing or report falsely
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_services.yml
  roles/telemetry_autoscaling/tasks/verify_autoscaling.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-periodic-telemetry-with-ceph

[telemetry_autoscaling] Fail fast when pre-reqs are not met
  roles/telemetry_autoscaling/defaults/main.yml
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
  roles/telemetry_autoscaling/tasks/test_services.yml
  roles/telemetry_autoscaling/tasks/verify_autoscaling.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_verify_metrics] Fail fast when metrics cannot be queried
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_central_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_ipmi_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ksm_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_openstack_network_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ovn_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_podman_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-periodic-telemetry-with-ceph

[docs] Describe how tests should handle unmet pre-requisites
  docs/prereqs-and-fail-fast.rst
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Delete obsolete tests in verify-metrics
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[logging] Remove unrelated osdpd pod tests
  ci/logging_tests_controller.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[telemetry_chargeback] Add CloudKitty Scope API verification tests (OSPRH-23754)
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/scope_api_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Use hostname in task names in ceilometer compute tests
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18
