Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

functional-tests-on-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the autoscaling functional test on osp18+patched version of aodh and heat.
  
    '
  vars:
    patch_openstackversions: true
    cifmw_extras:
  ...

functional-logging-tests-osp18:
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests on osp18
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

functional-graphing-tests-osp18:
  parent: functional-tests-on-osp18
  description: 'Run the UI Graphing test on osp18.
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

[callback_plugins] Update customer junit and restore custom_logger
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

[debug] increase ansible verbosity
  ci/ansible.cfg
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Comment out some prints use ignore_errors with autoscaling tests
  callback_plugins/custom_junit.py
  ci/run_autoscaling_osp18.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

[custom_junit] Add debug info (fix typo)
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Update report_result
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Update the task in telemetry_autoscaling to use the TEST prefix
  ci/github/test_logger.yml
  ci/github/test_logger_expected_xml
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

[custom_junit] Try a zero-length prefix to record all the tasks
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

[custom_junit] Update prefix for tests
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Remove prefix from tasks
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Fix typo
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

custom_logger: check for results for a host before creating the summary
  callback_plugins/custom_logger.py
Due: feature-verification-tests-noop

Update github/test_logger.yml
  ci/github/test_logger.yml
Due: feature-verification-tests-noop

Run report result on all hosts to collect the XML files
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Update hosts for report_result add some notes
  ci/run_autoscaling_osp18.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[report_result] Update the copied files
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[telemetry_autoscaling] Update test names to use prefix for junit_xml
  callback_plugins/custom_junit.py
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

[custom_junit] Record the outputs for prefix IN task_name
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Fix Exception
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Get more info from custom_junit
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

report_result inventory_host -> inventory_hostname
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

update mutate_task_name to return None when prefix is not in task_name
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

update src filename
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

custom_junit: Use a blank prefix so all the tasks get recorded
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Remove extra dir
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Fix duplicate host callback error
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Update test_logger.yml playbook
  ci/github/test_logger.yml
Due: feature-verification-tests-noop

[ci] Remove unneeded tasks from run_autoscaling_osp18
  ci/run_autoscaling_osp18.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Update wheen the report_results get run
  callback_plugins/custom_junit.py
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

update custom_junit
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Update debugging
  callback_plugins/custom_junit.py
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Fix syntax errors in custom_junit
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Update when the task name is mutated
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Add prefix to test tasks
  callback_plugins/custom_junit.py
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

debug
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[DEBUG] run autoscaling without reverting versions
  ci/run_autoscaling_osp18.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

add test_compute
  ci/logging_tests_computes.yml
  roles/common/tasks/container_status.yml
  roles/common/tasks/main.yml
  roles/telemetry_logging/tasks/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add crd_test
  ci/logging_tests_controller.yml
  roles/common/tasks/crd_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Path conditions:
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
  functional-logging-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
  functional-graphing-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
