Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

functional-tests-on-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the autoscaling functional test on osp18+patched version of aodh and heat.
  
    '
  vars:
    patch_openstackversions: true
    cifmw_extras:
  ...

functional-logging-tests-osp18:
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests on osp18
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

functional-graphing-tests-osp18:
  parent: functional-tests-on-osp18
  description: 'Run the UI Graphing test on osp18.
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

[telemetry_autoscaling] revert adding the prefixes
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add UI Cypress test
  .zuul.yaml
  callback_plugins/custom_logger.py
  ci/run_graphing_test.yml
  roles/telemetry_graphing/README.md
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/cypress_test.yml
  roles/telemetry_graphing/tasks/main.yml
  roles/telemetry_graphing/tasks/prom_query.yml
  roles/telemetry_graphing/tasks/verify_url.yml
  roles/telemetry_graphing/vars/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Revert "custom_logger: check for results for a host before creating the summary"
  callback_plugins/custom_logger.py
Due: feature-verification-tests-noop

Revert "set test_operator_dry_run true to skip running tests"
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Revert "[debug] increase ansible verbosity"
  ci/ansible.cfg
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Revert "Update hook order to run tests"
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add [TEST] to test tasks
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Metric verification job
  .zuul.yaml
  ci/run_verify_metrics_osp18.yml
  ci/vars-metric-verification-test.yml
  ci/vars/osp18_env.yml
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/meta/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/openstack_deployed.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Add temporary arbitrary IDs to tests
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Change verify metric job after logging job merged
  ci/run_verify_metrics_osp18.yml
  ci/vars-metric-verification-test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Fix CI failures
  .zuul.yaml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Update for Emma's comments
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/tasks/openstack_deployed.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Revert "Update hosts for report_result add some notes"
  ci/run_autoscaling_osp18.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[ci] Revert changes to autoscaling osp18 playbook
  ci/run_autoscaling_osp18.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[telemetry_autoscaling] Add test prefix to autoscaling tests
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add metric_sources_to_test variable
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_central_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[custom_junit] Make the test prefix configurable via ini file and env var
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Apply suggestions from code review
  ci/ansible.cfg
  ci/vars-logging-test.yml
  roles/common/tasks/main.yml
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Rename metric_sources_to_test variable
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/defaults/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Move openstack resource checks to common role
  roles/common/README.md
  roles/common/tasks/check_openstack_services_rhoso.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/openstack_deployed.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

add test_compute
  ci/logging_tests_computes.yml
  roles/common/README.md
  roles/common/tasks/container_status.yml
  roles/common/tasks/container_test.yml
  roles/common/tasks/main.yml
  roles/telemetry_logging/tasks/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Run report result on all hosts to collect the XML files
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

report_result inventory_host -> inventory_hostname
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

set test_operator_dry_run true to skip running tests
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

custom_junit: Use a blank prefix so all the tasks get recorded
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Update junit plugin to use same output dir as custom_logger
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Update github/test_logger.yml
  ci/github/test_logger.yml
Due: feature-verification-tests-noop

[report_result] Update the copied files
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

update src filename
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[debug] increase ansible verbosity
  ci/ansible.cfg
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[custom_junit] Try a zero-length prefix to record all the tasks
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

[callback_plugins] Update customer junit and restore custom_logger
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

[custom_junit] Update prefix for tests
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Fix typo
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Update hosts for report_result add some notes
  ci/run_autoscaling_osp18.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Remove extra dir
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Get more info from custom_junit
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

update mutate_task_name to return None when prefix is not in task_name
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Clean up custom junit and add a mutate_task_name method
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Fix duplicate host callback error
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Path conditions:
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
  functional-logging-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
  functional-graphing-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
