Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

openstack-k8s-operators-content-provider:
  override-checkout: main

functional-autoscaling-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the autoscaling functional tests and tempest tests on osp18+patched
  
    versions of aodh and heat.
  
    '
  vars:
    patch_openstackversions: true
    cifmw_extras:
  ...

functional-logging-tests-osp18:
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests and tempest smoketests on osp18
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

functional-graphing-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the UI Graphing test and tempest smoketests on osp18.
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

functional-metric-verification-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the metric verification functional test and tempest smoketests on osp18.
  
    '
  vars:
    patch_observabilityclient: true
    cifmw_extras:
  ...

[test_snmp_traps] Undo update to stf object post-test
  roles/test_snmp_traps/tasks/main.yml
Due: feature-verification-tests-noop

[test_snmp_traps] Add meaningful changed_when for `oc patch`
  roles/test_snmp_traps/tasks/main.yml
Due: feature-verification-tests-noop

[test_snmp_traps] Wait up to two minutes for the snmp logs to show the alarm
  roles/test_snmp_traps/tasks/main.yml
Due: feature-verification-tests-noop

[test_snmp_traps] Remove grep and update failed_when
  roles/test_snmp_traps/tasks/main.yml
Due: feature-verification-tests-noop

Remove extra line
  roles/test_snmp_traps/tasks/main.yml
Due: feature-verification-tests-noop

Remove unneeded comments
  roles/test_sensubility/tasks/test_health_status.yml
Due: feature-verification-tests-noop

[test_alerts] Update alertmanager test
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
Due: feature-verification-tests-noop

Update test_health_status.yml
  roles/test_sensubility/tasks/test_health_status.yml
Due: feature-verification-tests-noop

[temp][test_sensubility] Add more detail to the healthcheck
  roles/test_sensubility/tasks/test_health_status.yml
Due: feature-verification-tests-noop

[test_alerts] Use command instead of shell
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
Due: feature-verification-tests-noop

[test_alerts] Update pre- and post-test tasks
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
Due: feature-verification-tests-noop

[test_alerts][test_snmp_traps] Add meaningful changed_when for `oc patch`
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
  roles/test_snmp_traps/tasks/main.yml
Due: feature-verification-tests-noop

Update roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
Due: feature-verification-tests-noop

[test_verify_email] Add quotes to the receiver name
  roles/test_verify_email/tasks/main.yml
Due: feature-verification-tests-noop

Update test_alerts
  roles/test_alerts/tasks/test_create_an_alert.yml
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
Due: feature-verification-tests-noop

[test_sensubility] Check whether sensubility metrics are available
  roles/test_sensubility/tasks/test_health_status.yml
Due: feature-verification-tests-noop

[common] Update task names for XML reporting
  roles/common/tasks/cr_tests.yml
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/project_tests.yml
  roles/common/tasks/subscription_tests.yml
Due: openstack-k8s-operators-content-provider

[common] Rename the test for CR status
  roles/common/tasks/cr_tests.yml
Due: openstack-k8s-operators-content-provider

[ci/logging] Use include_role instead of import_role for using the common role
  ci/logging_tests_computes.yml
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

Fix functional tests failures for STF tests (#166)
  roles/test_alerts/tasks/test_create_an_alert.yml
  roles/test_alerts/tasks/test_creating_a_standard_alert_route_in_alert_manager.yml
  roles/test_sensubility/tasks/test_health_status.yml
  roles/test_snmp_traps/tasks/main.yml
  roles/test_verify_email/tasks/main.yml
Due: feature-verification-tests-noop

Use dicts to configure the tests
  ci/logging_tests_computes.yml
  ci/logging_tests_controller.yml
  roles/common/tasks/container_test.yml
  roles/common/tasks/cr_tests.yml
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/endpoint_tests.yml
  roles/common/tasks/file_tests.yml
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
  roles/common/tasks/pod_tests.yml
  roles/common/tasks/project_tests.yml
  roles/common/tasks/service_tests.yml
  roles/common/tasks/subscription_tests.yml
  roles/telemetry_logging/tasks/journal_tests.yml
  roles/telemetry_logging/tasks/main.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

Fix typos
  roles/common/tasks/manifest_tests.yml
  roles/common/tasks/project_tests.yml
Due: openstack-k8s-operators-content-provider

Add more test ids
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

Update test ids
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

Update the pod test definintions to use dicts
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[telemetry_logging] Update var names in role
  roles/telemetry_logging/tasks/main.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

sync ci/logging_tests_{controller,compute}.yml to master
  ci/logging_tests_computes.yml
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[verify_metrics] try convert mariadb to use the new format
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

[ci] Move FVT results to tests/ instead of logs
  ci/vars/common.yml
Due: openstack-k8s-operators-content-provider

[report_results] Copy the XML file to the old location as well as the new one
  ci/report_result.yml
  ci/vars/common.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[zuul] Add logging config and tests to functional-autoscaling-tests-osp18
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

debug
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

Use vars-graphing.yml by the graphing job
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[ci] Converge tests based on enabled features
  .zuul.yaml
  ci/run_cloudops_tests_osp18.yml
  ci/run_fvt_tests.yml
  ci/run_graphing_test.yml
  ci/vars-fvt-tests.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add polarian Id for ceilometer_power_state compute metrics
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Path conditions:
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  openstack-k8s-operators-content-provider: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: any of: roles/telemetry_autoscaling/.*, .zuul.yaml, ci/vars-functional-test.yml, ci/run_autoscaling_osp18.yml, ci/vars-use-master-containers.yml, ci/use-master-containers.yml, ci/patch-openstack-version.yaml, ci/report_result.yml
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-graphing-tests-osp18: (any of: roles/telemetry_graphing/.*, .zuul.yaml, ci/vars-graphing-test.yml, ci/run_graphing_test.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-metric-verification-tests-osp18: (any of: roles/telemetry_verify_metrics/.*, .zuul.yaml, ci/vars-metric-verification-test.yml, ci/run_verify_metrics_osp18.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
