Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

.zuul.yaml:

---
- job:
    name: functional-tests-on-osp18
    parent: telemetry-operator-multinode-autoscaling
    description: |
      Run the autoscaling functional test on osp18+patched version of aodh and heat.
    vars:
      patch_openstackversions: true
      cifmw_extras:
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/ci-framework'].src_dir  }}/scenarios/centos-9/multinode-ci.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/telemetry-operator'].src_dir }}/ci/vars-autoscaling.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/infrawatch/feature-verification-tests'].src_dir }}/ci/vars-functional-test.yml"
    roles:
      - zuul: github.com/openstack-k8s-operators/ci-framework
    required-projects: &required_projects
      - name: github.com/infrawatch/service-telemetry-operator
      - name: openstack-k8s-operators/ci-framework
        override-checkout: main
      - name: openstack-k8s-operators/install_yamls
        override-checkout: main
      - name: github.com/openstack-k8s-operators/dataplane-operator
        override-checkout: main
      - name: github.com/openstack-k8s-operators/infra-operator
        override-checkout: main
      - name: github.com/openstack-k8s-operators/openstack-operator
        override-checkout: main
      - name: github.com/openstack-k8s-operators/openstack-must-gather
        override-checkout: main
      - name: github.com/openstack-k8s-operators/telemetry-operator
        override-checkout: main
    irrelevant-files: &irrelevant_files
      - .github/.*
      - ci/github/.*
      - callback_plugins/.*
      - README*
      - .*/*.md

- job:
    name: functional-logging-tests-osp18
    parent: telemetry-operator-multinode-logging
    description: |
      Run the logging functional tests on osp18
    vars:
      cifmw_extras:
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/ci-framework'].src_dir  }}/scenarios/centos-9/multinode-ci.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/telemetry-operator'].src_dir }}/ci/vars-logging.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/infrawatch/feature-verification-tests'].src_dir }}/ci/vars-logging-test.yml"
    roles:
      - zuul: github.com/openstack-k8s-operators/ci-framework
    required-projects: *required_projects
    irrelevant-files: *irrelevant_files

- job:
    name: feature-verification-tests-noop
    parent: noop
    description: |
      A job that always passes. Runs when there's a change to jobs that don't
      need full zuul to run but still need to report a pass.
    run:
      - ci/noop.yml
    files: *irrelevant_files

- job:
    name: functional-graphing-tests-osp18
    parent: functional-tests-on-osp18
    description: |
      Run the UI Graphing test on osp18.
    vars:
      cifmw_extras:
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/ci-framework'].src_dir  }}/scenarios/centos-9/multinode-ci.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/telemetry-operator'].src_dir }}/ci/vars-autoscaling.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/infrawatch/feature-verification-tests'].src_dir }}/ci/vars-functional-test.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/infrawatch/feature-verification-tests'].src_dir }}/ci/vars-graphing-test.yml"
    required-projects: *required_projects
    irrelevant-files: *irrelevant_files
      

- project:
    name: infrawatch/feature-verification-tests
    github-check:
      jobs:
        - feature-verification-tests-noop
        - openstack-k8s-operators-content-provider:
            override-checkout: main
        - functional-tests-on-osp18
        - functional-logging-tests-osp18
        - functional-graphing-tests-osp18

Fix CI failures
  .zuul.yaml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add [TEST] to test tasks
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add temporary arbitrary IDs to tests
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Rename metric_sources_to_test variable
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/defaults/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Add metric_sources_to_test variable
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_central_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Change verify metric job after logging job merged
  ci/run_verify_metrics_osp18.yml
  ci/vars-metric-verification-test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Move openstack resource checks to common role
  roles/common/README.md
  roles/common/tasks/check_openstack_services_rhoso.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/openstack_deployed.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Remove whitespace
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_central_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Remove verify_ceilometer_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[callback_plugins] Add custom junit plugin
  .zuul.yaml
  callback_plugins/custom_junit.py
  callback_plugins/custom_logger.py
  ci/ansible.cfg
  ci/github/test_logger.yml
  ci/github/test_logger_expected_xml
  ci/report_result.yml
  ci/run_graphing_test.yml
  ci/vars-graphing-test.yml
  roles/telemetry_graphing/README.md
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/cypress_test.yml
  roles/telemetry_graphing/tasks/main.yml
  roles/telemetry_graphing/tasks/verify_url.yml
  roles/telemetry_graphing/vars/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Add manifest tests
  roles/common/README.md
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

add subscription tests
  ci/logging_tests_controller.yml
  roles/common/README.md
  roles/common/tasks/main.yml
  roles/common/tasks/subscription_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Add projects test
  ci/logging_tests_controller.yml
  roles/common/README.md
  roles/common/tasks/main.yml
  roles/common/tasks/project_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

update CRD name
  ci/vars-logging-test.yml
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

add podman command
  roles/common/tasks/container_test.yml
  roles/common/tasks/main.yml
  roles/telemetry_logging/tasks/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

add vars file
  ci/logging_tests_controller.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add retries on metric verification failures
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[callback_plugins] Add custom junit plugin (#132)
  callback_plugins/custom_junit.py
  ci/ansible.cfg
  ci/github/test_logger.yml
  ci/github/test_logger_expected_xml
  ci/report_result.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Fix conditions for repeated metric checks
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Update pod tests to correct syntax and add more info
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add pod_test_id to included task
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Remove extra tasks
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Get more deatails on the pods that exist
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Revert "[debug] Add a pod list for the namespace"
  roles/common/tasks/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

set test_operator_dry_run true to skip running tests
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add crd_test
  ci/logging_tests_controller.yml
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

update readme
  roles/common/README.md
Due: feature-verification-tests-noop

update CRD name
  ci/logging_tests_controller.yml
  ci/vars-logging-test.yml
  roles/common/README.md
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

[telemetry_autoscaling] Add test prefix to autoscaling tests
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[stf_functional_tests] Remove the observability strategy tests
  stf_functional_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Extend verify metrics for checking scrapeconfigs
  roles/common/README.md
  roles/common/tasks/check_openstack_services_rhoso.yml
  roles/common/tasks/cr_tests.yml
  roles/common/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_central_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

[custom_junit] Add config options via ini file and env var
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

[telemetry_autoscaling] Update the test names to match polarion's automation IDs
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[common] Add container_tests to the logging role (#157)
  ci/logging_tests_computes.yml
  roles/common/README.md
  roles/common/tasks/container_test.yml
  roles/common/tasks/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Switch to server_group for 18 autoscaling
  ci/patch-openstack-versions.yaml
  ci/run_autoscaling_osp18.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/post_teardown.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
  roles/telemetry_autoscaling/templates/instance.yaml.j2
  roles/telemetry_autoscaling/templates/template.yaml.j2
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Fix lister issues
  roles/common/tasks/check_openstack_services_rhoso.yml
  roles/common/tasks/cr_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add container and pod tests to metric verification
  roles/common/tasks/container_test.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_central_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Set the nodepool.cloud variable
  roles/common/tasks/container_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Fix ssh key
  roles/common/tasks/container_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

update CRD name
  ci/logging_tests_controller.yml
  ci/vars-logging-test.yml
  roles/common/README.md
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18
