Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Path conditions:
  functional-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-graphing-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-metric-verification-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, roles/common/*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml, .zuul.yaml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-periodic-telemetry-with-ceph: any of: roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml, .zuul.yaml

Add some more details to the README and create a docs/ dir (#299)
  README.rst
  docs/stf-tests.rst
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[ci] Update the logging tests to use new pod test config format
  ci/logging_tests_controller.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

Added a playbook to flush the data to loki storage
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Made changes to gix ansible lint errors
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Modified playbooks to count the no. of data streams being ingested
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Modified the message to count the correct data entries
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Get chargeback data results from loki and validate that the total cost is correct
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/synth_loki_metrics_totals.py
  roles/telemetry_chargeback/files/test_all_qty_zero.yml
  roles/telemetry_chargeback/files/test_dyn_basic.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_cost.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/templates/loki_data_templ.j2
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Addressed all comments and made modifications to the files
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[test_verify_email] Update the alertmanager config
  roles/test_verify_email/tasks/main.yml
Due: feature-verification-tests-noop

Added setup_loki_env.yaml to handle both URL discovery and Certificate extraction
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Removed the redundant certs task from setup loki file
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Modified retrieve_loki file to change limit_logs to limit
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Renamed mTLS certs names in defaults/main.yml
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Fixed ansible lint errors by rename namespace to openstack_ns
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Removed logs_dir var from defaults/main.yml and using it from ci/var/common.yml
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Added new line in vars/main.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Removed tags from tasks/main.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Get chargeback data results from loki and validate that the total cost is correct
  .yamllint
  roles/telemetry_chargeback/.yamllint
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/gen_synth_loki_metrics.totals.py
  roles/telemetry_chargeback/files/test_all_qty_zero.yml
  roles/telemetry_chargeback/files/test_dyn_basic.yml
  roles/telemetry_chargeback/files/test_static_basic.yml
  roles/telemetry_chargeback/files/test_static_basic_10x.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/cleanup_ck.yml
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
  roles/telemetry_chargeback/templates/loki_data_templ.j2
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Updating variable names from ck_ to clouldkitty
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/files/gen_synth_loki_metrics_totals.py
  roles/telemetry_chargeback/files/metrics_new.yml
  roles/telemetry_chargeback/files/test_static_basic.json
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

explicitly override any inherited settings by adding ignore_errors: false
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Temp fix to get FVT running.
  ci/vars/common.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Revert "Temp fix to get FVT running."
  ci/vars/common.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Use role varibles in the retrieve and generate playbooks
  roles/telemetry_chargeback/files/test_static_basic.json
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_verify_metrics] Add node exporter filesystem verification tests
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add Loki data download metrics generation and storage in cloudkitty_loki_totals_metrics_suffix
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/gen_synth_loki_metrics_totals.py
  roles/telemetry_chargeback/files/metrics_new.yml
  roles/telemetry_chargeback/files/test_all_qty_zero.yml
  roles/telemetry_chargeback/files/test_dyn_basic.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Adding project_id to gen_synth_loki_data.py call
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Added user_id variable and passing to syn data generator
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/files/gen_synth_loki_metrics_totals.py
  roles/telemetry_chargeback/files/test_all_qty_zero.yml
  roles/telemetry_chargeback/files/test_dyn_basic.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[telemetry_chargeback] Add CloudKitty Scope API verification tests (OSPRH-23754)
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/scope_api_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add negative testing to Loki pipeline to verify mTLS is enforcing security rules
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/neg_loki_nocerts.yml
  roles/telemetry_chargeback/tasks/neg_loki_unknown_certs.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Added task generate unknown cert and key
  roles/telemetry_chargeback/tasks/neg_loki_nocerts.yml
  roles/telemetry_chargeback/tasks/neg_loki_unknown_certs.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Validates chargeback data is generated and then push and retriieved from loki
  .gitignore
  roles/telemetry_chargeback/.gitignore
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/gen_db_summary.py
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/test_dyn_basic.yml
  roles/telemetry_chargeback/files/test_static.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/cleanup_ck.yml
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
  roles/telemetry_chargeback/templates/loki_data_templ.j2
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Enables validation runs of chargeback jobs in branches other than "main"
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Enables validation runs of chargeback jobs in branches other than "main" (#343)
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Add generic container-image-content-provider job
  .zuul.yaml
  ci/playbooks/container-image-content-provider.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

[telementry_chargeback] Fix style in tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] Remove unused test_static file
  roles/telemetry_chargeback/files/test_static.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18
