Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Path conditions:
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  openstack-k8s-operators-content-provider: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: any of: roles/telemetry_autoscaling/.*, .zuul.yaml, ci/vars-functional-test.yml, ci/run_autoscaling_osp18.yml, ci/vars-use-master-containers.yml, ci/use-master-containers.yml, ci/patch-openstack-version.yaml, ci/report_result.yml
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-graphing-tests-osp18: (any of: roles/telemetry_graphing/.*, .zuul.yaml, ci/vars-graphing-test.yml, ci/run_graphing_test.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-metric-verification-tests-osp18: (any of: roles/telemetry_verify_metrics/.*, .zuul.yaml, ci/vars-metric-verification-test.yml, ci/run_verify_metrics_osp18.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)

[zuul] Add roles/common to the autoscaling and logging jobs (#283)
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[ci] Update the logging tests to use new pod test config format
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

Remove RHOSO-XXX IDs from the FVTs
  callback_plugins/custom_junit.py
  ci/report_result.yml
  ci/vars/common.yml
  roles/common/tasks/container_test.yml
  roles/common/tasks/cr_tests.yml
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/endpoint_tests.yml
  roles/common/tasks/file_tests.yml
  roles/common/tasks/manifest_tests.yml
  roles/common/tasks/pod_tests.yml
  roles/common/tasks/project_tests.yml
  roles/common/tasks/service_tests.yml
  roles/common/tasks/subscription_tests.yml
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[GHA] Update the ansible-lint actions used
  .github/workflows/lint.yml
  meta/runtime.yml
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider

[GHA] Update the ansible-lint actions used (#286)
  .github/workflows/lint.yml
  meta/runtime.yml
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider

[zuul] Add logging config and tests to functional-autoscaling-tests-osp18
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[temp] Make some temp updates to zuul
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Delete RHOSO Test id's in roles/common/tasks fvt tests
  roles/common/README.md
  roles/common/defaults/main.yml
  roles/common/tasks/container_test.yml
  roles/common/tasks/cr_tests.yml
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/endpoint_tests.yml
  roles/common/tasks/file_tests.yml
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
  roles/common/tasks/pod_tests.yml
  roles/common/tasks/project_tests.yml
  roles/common/tasks/service_tests.yml
  roles/common/tasks/subscription_tests.yml
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider

remove the command
  ci/run_graphing_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

[custom_junit] Add config options via ini file and env var
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

[custom_junit] Add config option for output_dir
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

test rbac-proxy
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_rbac.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

add crc_enable var
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

add crc_enable var
  ci/run_graphing_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

Remove unneeded test IDs from FVTs
  roles/telemetry_autoscaling/tasks/configure_heat.yml
  roles/telemetry_autoscaling/tasks/creating_stack.yml
  roles/telemetry_autoscaling/tasks/main.yml
  roles/telemetry_autoscaling/tasks/test_autoscaling.yml
  roles/telemetry_graphing/tasks/cypress_test.yml
  roles/telemetry_graphing/tasks/verify_url.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18

Update the variables
  ci/run_graphing_test.yml
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js.j2
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

test target health
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

[zuul] Use centos-10 images for master versions
  ci/patch-openstack-versions.yaml
Due: openstack-k8s-operators-content-provider

[zuul] Use centos-10 images for master versions (#289)
  ci/patch-openstack-versions.yaml
Due: openstack-k8s-operators-content-provider

Deploy monitoring and cluster-monitoring-operator in CRC
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[DNM] cs10 testing
  .zuul.yaml
  ci/files/containers.yaml
  ci/patch-openstack-versions.yaml.j2
  ci/use-master-containers.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add periodic job with volume pool metrics tests
  .zuul.yaml
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Update patch-openstack-versions.yaml
  ci/patch-openstack-versions.yaml
Due: openstack-k8s-operators-content-provider

test test
  roles/telemetry_graphing/tasks/main.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

Replace "current" build with "current-tested" in the master as a temporary workaround
  ci/patch-openstack-versions.yaml
Due: openstack-k8s-operators-content-provider

Replace "current" build with "current-tested" in the master as a temporary workaround (#295)
  ci/patch-openstack-versions.yaml
Due: openstack-k8s-operators-content-provider

Test with the exist clusterrole
  roles/telemetry_verify_metrics/tasks/verify_rbac.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

[Graphing Job] Enable the monitoring (#280)
  .zuul.yaml
  ci/run_graphing_test.yml
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js.j2
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

revert ceilometer images to current
  ci/patch-openstack-versions.yaml
Due: openstack-k8s-operators-content-provider

Revert "test target health"
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_prom_exporter_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Revert Ceilometer Image to use :current (#296)
  ci/patch-openstack-versions.yaml
Due: openstack-k8s-operators-content-provider

print result
  roles/telemetry_verify_metrics/tasks/verify_rbac.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

append serviceAccount to exist clusterrole
  roles/telemetry_verify_metrics/tasks/verify_rbac.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

[custom_junit] Add config options via ini file and env var (#160)
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop
