Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

functional-tests-osp18:
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run autoscaling functional tests, tempest tests, metrics
  
    functional tests, graphing functional tests and logging functional tests on
  
  ...

functional-tests-on-osp18:
  parent: functional-tests-osp18
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  description: 'functional-tests-on-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-on-osp18 jobs.
  
    '

functional-autoscaling-tests-osp18:
  parent: functional-tests-osp18
  description: 'functional-autoscaling-tests-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-osp18.
  
    '

functional-graphing-tests-osp18:
  parent: functional-tests-osp18
  description: 'functional-graphing-tests-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-osp18.
  
    '

functional-metric-verification-tests-osp18:
  parent: functional-tests-osp18
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  description: 'Run the autoscaling functional tests, tempest tests and metrics
  
    functional tests on osp18+patched versions of adoh and heat.
  
    '

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

functional-logging-tests-osp18:
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests and tempest smoketests on osp18
  
    '
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  vars:
    cifmw_update_containers: false
    cifmw_extras:
  ...

functional-periodic-telemetry-with-ceph:
  parent: podified-multinode-hci-deployment-crc-1comp-backends
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  description: 'Deploy OpenStack with Telemetry and Ceph. Run metric-verification with volume pool metric tests
  
    '
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  vars:
  ...

Import telemetry_chargeback role from PR #335
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/cleanup_ck.yml
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
  roles/telemetry_chargeback/templates/loki_data_templ.j2
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Refactor telemetry_chargeback to use scenario_result dictionary
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Moved debug var from tasks/main.yml to defaults/main.yml
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/cleanup_ck.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Fix flake8 E266 formatting error
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Update telemetry_chargeback role variables to use cloudkitty_* prefix
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Adding retrieve_loki_data.yml file so that job will download loki DB into a file
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Adding database upload tasks file ingest_loki_data.yml (#372)
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Revert "Adding database upload tasks file ingest_loki_data.yml (#372)"
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

DNM: test ci log upload
  .zuul.yaml
  stop.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Remove noop parent
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Update nodeset for ceph job
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Moved debug var from tasks/main.yml to defaults/main.yml
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/tasks/cleanup_ck.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Update README.md file with branch changes
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

Add cloudkitty_debug_dir to README variable table
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

setting all certs dirs in same parent dir for consistency
  roles/telemetry_chargeback/defaults/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] Add ability to ingest and retrieve loki data to role - Uploads data to loki
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

setting all certs dirs in same parent dir for consistency
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add and ingest task file
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Improve RHELOSP-144481 snmpTraps test by adding readiness gates
  roles/test_snmp_traps/tasks/main.yml
Due: feature-verification-tests-noop

Updating README file.
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

added --ascending/--descending flags for generating synthetic data.
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

telemetry_chargeback role task file additions - these task file are needed for loki data download - adds looping for multiple scenarios - runs rating command
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/cleanup_ck.yml
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Fixes based on review feedback from Jaromir
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

remove loki_rate file
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Rebase from master
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Removed needless fileIO to improve performance
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Add scenario label to Loki stream for per-scenario filtering
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/templates/loki_data_templ.j2
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Improve RHELOSP-144481 snmpTraps test by adding readiness gates (#380)
  roles/test_snmp_traps/tasks/main.yml
Due: feature-verification-tests-noop

Add ceilometer compute agent TLS verification tests
  roles/telemetry_verify_metrics/tasks/check_compute_tls.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add FVT for rsyslog template format configuration
  roles/telemetry_logging/tasks/main.yml
  roles/telemetry_logging/tasks/rsyslog_template_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[telemetry_chargeback] Task files needed to run FVT test with multiple test scenarios (#362)
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/tasks/cleanup_ck.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Add cloudkitty_debug_dir to README variable table
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/templates/loki_data_templ.j2
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Fix RHELOSP-176036 and RHELOSP-176038 sensubility health status tests
  roles/client_side_tests/tasks/get_prom_info.yml
  roles/test_sensubility/tasks/test_health_status.yml
Due: feature-verification-tests-noop

Remove unnecessary nodeset setting
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Path conditions:
  functional-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-graphing-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-metric-verification-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, roles/common/*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml, .zuul.yaml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-periodic-telemetry-with-ceph: any of: roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml, .zuul.yaml
