Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

functional-tests-osp18:
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run autoscaling functional tests, tempest tests, metrics
  
    functional tests, graphing functional tests and logging functional tests on
  
  ...

functional-tests-on-osp18:
  parent: functional-tests-osp18
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  description: 'functional-tests-on-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-on-osp18 jobs.
  
    '

functional-autoscaling-tests-osp18:
  parent: functional-tests-osp18
  description: 'functional-autoscaling-tests-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-osp18.
  
    '

functional-graphing-tests-osp18:
  parent: functional-tests-osp18
  description: 'functional-graphing-tests-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-osp18.
  
    '

functional-metric-verification-tests-osp18:
  parent: functional-tests-osp18
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  description: 'Run the autoscaling functional tests, tempest tests and metrics
  
    functional tests on osp18+patched versions of adoh and heat.
  
    '

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

functional-logging-tests-osp18:
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests and tempest smoketests on osp18
  
    '
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  vars:
    cifmw_update_containers: false
    cifmw_extras:
  ...

functional-periodic-telemetry-with-ceph:
  parent: podified-multinode-hci-deployment-crc-1comp-backends
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  description: 'Deploy OpenStack with Telemetry and Ceph. Run metric-verification with volume pool metric tests
  
    '
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  vars:
  ...

Use chdir as direct parameter in command tasks
  ci/playbooks/container-image-content-provider.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] Rename dir template -> templates
  roles/telemetry_chargeback/templates/loki_data_templ.j2
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Review Changes
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/files/gen_db_summary.py
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Add rating validation tests for telemetry_chargeback role - calculate rating for each scenerio - compare calcualted rating to CK rating summary
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/test_dyn_basic.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/templates/loki_data_templ.j2
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[telementry_chargeback] Fix style in tasks/chargeback_tests.yml (#346)
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Delete roles/telemetry_chargeback/.gitignore
  roles/telemetry_chargeback/.gitignore
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Update variable names from ck_* cloudkitty_*
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Remove internal variables documentation from README
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

Remove .ansible/ from .gitignore
  .gitignore
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Support building multiple container images
  .zuul.yaml
  ci/playbooks/container-image-build.yml
  ci/playbooks/container-image-content-provider.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Enable update_containers for per-image overrides
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Validates chargeback data is generated and then push and retriieved from loki
  .gitignore
  roles/telemetry_chargeback/.gitignore
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/gen_db_summary.py
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/test_dyn_basic.yml
  roles/telemetry_chargeback/files/test_static.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/cleanup_ck.yml
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
  roles/telemetry_chargeback/templates/loki_data_templ.j2
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Use vexxhost nodeset for content-provider public IP
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Return insecure registry config from content-provider
  ci/playbooks/container-image-content-provider.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] Replace reverse_timestamps with --sort parameter
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[telemetry_chargeback] Rename vars to follow role naming convention
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

[telemetry_chargeback] Add new test file: test_dyn_basic.yml
  roles/telemetry_chargeback/files/test_dyn_basic.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[telemetry_chargeback] Rename dir template -> templates (#348)
  roles/telemetry_chargeback/templates/loki_data_templ.j2
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Updating README file and rebasing
  .gitignore
  roles/telemetry_chargeback/.gitignore
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/gen_db_summary.py
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/test_dyn_basic.yml
  roles/telemetry_chargeback/files/test_static.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/cleanup_ck.yml
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Removing internal variables from README
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

Use Ansible blocks to group conditional scenario selection logic
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Validates chargeback data is generated and then push and retriieved from loki
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

Method to select telemetry_chargeback scenarios to run that do not require changing the role
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Review Changes
  roles/telemetry_chargeback/README.md
Due: feature-verification-tests-noop

PR against master with "Depends-on:https://github.com/infrawatch/feature-verification-tests/pull/349"
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Update telemetry_chargeback role variables to use cloudkitty_* prefix
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Adding files for future use - Add an additional test senario file - Add a py script that summerrizes a json DB file
  roles/telemetry_chargeback/files/gen_db_summary.py
  roles/telemetry_chargeback/files/test_dyn_basic.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Review Changes
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Added files in load_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/neg_loki_nocerts.yml
  roles/telemetry_chargeback/tasks/neg_loki_unknown_certs.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Updating README file and rebasing
  .gitignore
  roles/telemetry_chargeback/.gitignore
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/test_static.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/cleanup_ck.yml
  roles/telemetry_chargeback/tasks/flush_loki_data.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/load_loki_data.yml
  roles/telemetry_chargeback/tasks/loki_rate.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retrieve_loki_data.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
  roles/telemetry_chargeback/tasks/setup_loki_env.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Add PEP8 linter GitHub Action
  .flake8
  .github/workflows/pep8.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Fix pre-existing PEP8 violations in callback plugins
  callback_plugins/custom_junit.py
  callback_plugins/custom_logger.py
Due: feature-verification-tests-noop

Updating README file.
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/run_test_scenarios.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Path conditions:
  functional-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-graphing-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-metric-verification-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, roles/common/*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml, .zuul.yaml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-periodic-telemetry-with-ceph: any of: roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml, .zuul.yaml
