Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-on-osp18, feature-verification-tests-noop

functional-tests-on-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the autoscaling functional test on osp18+patched version of aodh and heat.
  
    '
  vars:
    patch_openstackversions: true
    cifmw_extras:
  ...

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

[zuul] Add logging test job
  .zuul.yaml
  ci/logging_tests_computes.yml
  ci/report_result.yml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18

[report_result] Update check for failed tests (#147)
  ci/report_result.yml
Due: functional-tests-on-osp18

[custom_logger] Make the output dir configurable
  callback_plugins/custom_logger.py
  ci/ansible.cfg
Due: functional-tests-on-osp18, feature-verification-tests-noop

[custom_logger] Make the output dir configurable (#148)
  callback_plugins/custom_logger.py
  ci/ansible.cfg
Due: functional-tests-on-osp18, feature-verification-tests-noop

[zuul] Add logging test job
  .zuul.yaml
  ci/logging_tests_computes.yml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18

custom_logger: check for results for a host before creating the summary
  callback_plugins/custom_logger.py
Due: feature-verification-tests-noop

[logging] Add common role with tests for pods
  ci/ansible.cfg
  ci/logging_tests_local.yml
  ci/vars-logging-test.yml
  roles/common/README.md
  roles/common/tasks/main.yml
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

[common] update README and rename vars
  ci/logging_tests_local.yml
  roles/common/README.md
  roles/common/tasks/main.yml
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

Update hook order to run tests
  ci/vars-logging-test.yml
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18

[zuul] Add logging job to run telemetry_logging test role (#140)
  .zuul.yaml
  callback_plugins/custom_logger.py
  ci/logging_tests_computes.yml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

Run the logging tests from the same playbook
  ci/logging_tests_all.yml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18

Update paths on imported playbooks
  ci/logging_tests_all.yml
Due: functional-tests-on-osp18

rename files
  ci/logging_tests_all.yml
  ci/logging_tests_controller.yml
Due: functional-tests-on-osp18

Update var name
  roles/common/tasks/main.yml
Due: functional-tests-on-osp18

Update pod tests to correct syntax and add more info
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18

Add pod_test_id to included task
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18

[zuul]Add Graphing Job
  .zuul.yaml
  ci/run_graphing_test.yml
  ci/vars-graphing-test.yml
  roles/telemetry_graphing/README.md
  roles/telemetry_graphing/tasks/main.yml
  roles/telemetry_graphing/tasks/prom_query.yml
  roles/telemetry_graphing/tasks/verify_url.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

add container test
  roles/common/tasks/container_status.yml
  roles/common/tasks/main.yml
Due: functional-tests-on-osp18

Add CRD Test
  roles/common/tasks/crd_test.yml
  roles/telemetry_logging/tasks/main.yml
  roles/telemetry_logging/vars/main.yml
Due: functional-tests-on-osp18

update include_tasks
  roles/telemetry_logging/tasks/main.yml
Due: functional-tests-on-osp18

[common] Update README
  roles/common/README.md
Due: feature-verification-tests-noop

[debug] Add a pod list for the namespace
  roles/common/tasks/main.yml
Due: functional-tests-on-osp18

Remove the role that tests HA since we don't support HA.
  roles/test_ha/README.md
  roles/test_ha/defaults/main.yml
  roles/test_ha/meta/main.yml
  roles/test_ha/tasks/main.yml
  roles/test_ha/vars/main.yml
  stf_functional_tests.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

Get more deatails on the pods that exist
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18

Remove the role that tests HA since we don't support HA. (#152)
  roles/test_ha/README.md
  roles/test_ha/defaults/main.yml
  roles/test_ha/meta/main.yml
  roles/test_ha/tasks/main.yml
  roles/test_ha/vars/main.yml
  stf_functional_tests.yml
Due: functional-tests-on-osp18, feature-verification-tests-noop

Update ppods to check in openstack namespace
  ci/logging_tests_controller.yml
Due: functional-tests-on-osp18

Remove extra tasks
  roles/common/tasks/pod_tests.yml
Due: functional-tests-on-osp18

Revert "[debug] Add a pod list for the namespace"
  roles/common/tasks/main.yml
Due: functional-tests-on-osp18

OSPRH-9659
  roles/common/tasks/main.yml
  roles/common/tasks/service_tests.yml
Due: functional-tests-on-osp18

The observability strategy role should not be run in stf_funtional_tests
  stf_functional_tests.yml
Due: functional-tests-on-osp18

set test_operator_dry_run true to skip running tests
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18

Update hook order to run tests
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18

Clean up custom junit and add a mutate_task_name method
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

[debug] Add print statements to the mutate_task_name to show task name change
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Update junit plugin to use same output dir as custom_logger
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Edit the task name into snakecase
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Add the custom_junit callback plugin
  callback_plugins/custom_junit.py
  ci/ansible.cfg
Due: functional-tests-on-osp18, feature-verification-tests-noop

Path conditions:
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, .*/*.md
