Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

functional-tests-osp18:
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run autoscaling functional tests, tempest tests, metrics
  
    functional tests, graphing functional tests and logging functional tests on
  
  ...

functional-tests-on-osp18:
  parent: functional-tests-osp18
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  description: 'functional-tests-on-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-on-osp18 jobs.
  
    '

functional-autoscaling-tests-osp18:
  parent: functional-tests-osp18
  description: 'functional-autoscaling-tests-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-osp18.
  
    '

functional-graphing-tests-osp18:
  parent: functional-tests-osp18
  description: 'functional-graphing-tests-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-osp18.
  
    '

functional-metric-verification-tests-osp18:
  parent: functional-tests-osp18
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  description: 'Run the autoscaling functional tests, tempest tests and metrics
  
    functional tests on osp18+patched versions of adoh and heat.
  
    '

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

functional-logging-tests-osp18:
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests and tempest smoketests on osp18
  
    '
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  vars:
    cifmw_update_containers: false
    cifmw_extras:
  ...

functional-periodic-telemetry-with-ceph:
  parent: podified-multinode-hci-deployment-crc-1comp-backends
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  description: 'Deploy OpenStack with Telemetry and Ceph. Run metric-verification with volume pool metric tests
  
    '
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  vars:
  ...

[report_result] Check if the logs dir exists
  ci/report_result.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[report_result] Add testcase error detection and reporting
  ci/report_result.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[ci] Add report-results to cloudkitty-fvt job
  ci/vars-cloudkitty-fvt.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

These steps are needed in a modified form so that some reports can be created
  roles/telemetry_chargeback/tasks/chargeback_setup_reports.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Update report results (#323)
  ci/report_result.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

Add run_chargeback_tests playbook AI assisted
  .zuul.yaml
  ci/report_result.yml
  ci/run_chargeback_tests.yml
  ci/vars-cloudkitty-fvt.yml
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/meta/main.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Add run_chargeback_tests playbook (#319)
  .zuul.yaml
  ci/run_chargeback_tests.yml
  ci/vars-cloudkitty-fvt.yml
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/meta/main.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

[OSPRH-21020] Adjust rabbitmq tests
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[zuul] Re-enable CI jobs
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

add synthetic data generation scripts Cursor AI assisted
  ci/run_chargeback_tests.yml
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/loki_data_templ.j2
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add synthetic date generation to telemetry_chargeback role in FVT repo
  ci/run_chargeback_tests.yml
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/loki_data_templ.j2
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[common] Update manifest role and config
  ci/logging_tests_controller.yml
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[common] Move the oc command to main
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[common] Refactor common_manifest_list to use dictionary structure
  ci/logging_tests_controller.yml
  roles/common/README.md
  roles/common/tasks/manifest_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18

Fix ansible-lint issues
  roles/common/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

Enhance telemetry_chargeback role with improved synthetic data handling
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/loki_data_templ.j2
  roles/telemetry_chargeback/files/test_static.yml
  roles/telemetry_chargeback/meta/main.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Create a playbook that pushes CK data file to loki storage
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add synthetic date generation to telemetry_chargeback role in FVT repo
  ci/run_chargeback_tests.yml
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/loki_data_templ.j2
  roles/telemetry_chargeback/files/test_static.yml
  roles/telemetry_chargeback/meta/main.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add synthetic date generation to telemetry_chargeback role in FVT repo
  ci/run_chargeback_tests.yml
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/test_static.yml
  roles/telemetry_chargeback/meta/main.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/template/loki_data_templ.j2
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Add synthetic date generation to telemetry_chargeback role in FVT repo (#331)
  ci/run_chargeback_tests.yml
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/test_static.yml
  roles/telemetry_chargeback/meta/main.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/template/loki_data_templ.j2
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Update main.yml
  roles/telemetry_chargeback/defaults/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Delete roles/telemetry_chargeback/files/loki_data_templ.j2
  roles/telemetry_chargeback/files/loki_data_templ.j2
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Update main.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add some more details to the README and create a docs/ dir
  README.rst
  docs/stf-tests.rst
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Update README to add missing word
  README.rst
Due: feature-verification-tests-noop

[ci] Update the logging tests to use new pod test config format
  ci/logging_tests_controller.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

Added 2 playbooks to push and retreive ck data to/from loki
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retreive_loki_data.yaml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add playbooks to push and retreive ck data log to/from loki
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/tasks/ingest_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
  roles/telemetry_chargeback/tasks/retreive_loki_data.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop

Modified data stream to query serivce:cloudkitty
  roles/telemetry_chargeback/tasks/retreive_loki_data.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Removed hosts and var and included in main.yml
  roles/telemetry_chargeback/tasks/retreive_loki_data.yml
  roles/telemetry_chargeback/vars/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Path conditions:
  functional-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-graphing-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-metric-verification-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, roles/common/*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml, .zuul.yaml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-periodic-telemetry-with-ceph: any of: roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml, .zuul.yaml
