Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

openstack-k8s-operators-content-provider:
  override-checkout: main

functional-autoscaling-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the autoscaling functional tests and tempest tests on osp18+patched
  
    versions of aodh and heat.
  
    '
  vars:
    patch_openstackversions: true
    cifmw_extras:
  ...

functional-logging-tests-osp18:
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests and tempest smoketests on osp18
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

functional-graphing-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the UI Graphing test and tempest smoketests on osp18.
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

functional-metric-verification-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the metric verification functional test and tempest smoketests on osp18.
  
    '
  vars:
    patch_observabilityclient: true
    cifmw_extras:
  ...

debug
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

debug
  roles/telemetry_graphing/tasks/cypress_test.yml
  roles/telemetry_graphing/tasks/verify_url.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

debug
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/verify_url.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

debug
  roles/telemetry_graphing/tasks/verify_url.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

[ci] Write the XML files directly to ci-framework-data/tests/ (#271)
  callback_plugins/custom_junit.py
  ci/report_result.yml
  ci/vars/common.yml
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Increame PageLoad Timeout
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

[ci] Converge tests based on enabled features
  .zuul.yaml
  ci/run_cloudops_tests_osp18.yml
  ci/run_fvt_tests.yml
  ci/run_graphing_test.yml
  ci/vars-fvt-tests.yml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Use pre_tests
  ci/vars-fvt-tests.yml
Due: openstack-k8s-operators-content-provider

Update dashboard-openstack-cloud.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

Replace vars for pod tests
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_central_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_ipmi_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ksm_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

change cypress version
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

update timeout
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

update session
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

[ci] Update the logging tests to use new pod test config format
  ci/logging_tests_controller.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[roles/common] allow using a dict to configure pod tests
  roles/common/tasks/pod_tests.yml
Due: openstack-k8s-operators-content-provider

[roles/common] Update the docs for the pod tests
  roles/common/README.md
Due: feature-verification-tests-noop

[ci] Update the logging tests to use new pod test config format
  ci/logging_tests_controller.yml
  roles/common/tasks/pod_tests.yml
Due: openstack-k8s-operators-content-provider, functional-logging-tests-osp18

[temp] Make some temp updates to zuul
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[zuul] Add logging config and tests to functional-autoscaling-tests-osp18
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[zuul] Add roles/common to the autoscaling and logging jobs
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

test with openshift dashboard
  ci/run_graphing_test.yml
  roles/telemetry_graphing/files/cypress.config.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

test with openshift dashboard
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

DNM Checking if monitoring exists in extracted version
  .zuul.yaml
Due: openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

enable crc monitoring
  ci/run_graphing_test.yml
Due: openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

[custom_junit] Add config options via ini file and env var
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

[custom_junit] Add config option for output_dir
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Remove RHOSO-XXX IDs from the FVTs
  callback_plugins/custom_junit.py
  ci/report_result.yml
  ci/vars/common.yml
  roles/common/tasks/container_test.yml
  roles/common/tasks/cr_tests.yml
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/endpoint_tests.yml
  roles/common/tasks/file_tests.yml
  roles/common/tasks/manifest_tests.yml
  roles/common/tasks/pod_tests.yml
  roles/common/tasks/project_tests.yml
  roles/common/tasks/service_tests.yml
  roles/common/tasks/subscription_tests.yml
Due: feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Path conditions:
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  openstack-k8s-operators-content-provider: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: any of: roles/telemetry_autoscaling/.*, .zuul.yaml, ci/vars-functional-test.yml, ci/run_autoscaling_osp18.yml, ci/vars-use-master-containers.yml, ci/use-master-containers.yml, ci/patch-openstack-version.yaml, ci/report_result.yml
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-graphing-tests-osp18: (any of: roles/telemetry_graphing/.*, .zuul.yaml, ci/vars-graphing-test.yml, ci/run_graphing_test.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-metric-verification-tests-osp18: (any of: roles/telemetry_verify_metrics/.*, .zuul.yaml, ci/vars-metric-verification-test.yml, ci/run_verify_metrics_osp18.yml, ci/report_result.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
