Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

functional-tests-osp18:
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run autoscaling functional tests, tempest tests, metrics
  
    functional tests, graphing functional tests and logging functional tests on
  
  ...

functional-tests-on-osp18:
  parent: functional-tests-osp18
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  description: 'functional-tests-on-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-on-osp18 jobs.
  
    '

functional-autoscaling-tests-osp18:
  parent: functional-tests-osp18
  description: 'functional-autoscaling-tests-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-osp18.
  
    '

functional-graphing-tests-osp18:
  parent: functional-tests-osp18
  description: 'functional-graphing-tests-osp18 is an alias of functional-tests-osp18,
  
    temporary added until openstack-k8s-operators/telemetry-operator updates
  
    references of functional-tests-osp18.
  
    '

functional-metric-verification-tests-osp18:
  parent: functional-tests-osp18
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  description: 'Run the autoscaling functional tests, tempest tests and metrics
  
    functional tests on osp18+patched versions of adoh and heat.
  
    '

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

functional-logging-tests-osp18:
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests and tempest smoketests on osp18
  
    '
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  vars:
    cifmw_update_containers: false
    cifmw_extras:
  ...

functional-periodic-telemetry-with-ceph:
  parent: podified-multinode-hci-deployment-crc-1comp-backends
  dependencies:
  - telemetry-openstack-meta-content-provider-master
  description: 'Deploy OpenStack with Telemetry and Ceph. Run metric-verification with volume pool metric tests
  
    '
  extra-vars:
    content_provider_dlrn_md5_hash: ''
  vars:
  ...

Add the video group to zuul user in graphing test
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add alias for cloudkitty job
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

[zuul] Update cloudkitty job
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Add hooks to run Cloudkitty fvts
  ci/vars-cloudkitty-fvt.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[temp] Remove the irrelevant zuul jobs while PR is in development
  .zuul.yaml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

[ci] Add run_chargeback_tests playbook
  ci/run_chargeback_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[common] Update task names for XML reporting
  roles/common/tasks/cr_tests.yml
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/project_tests.yml
  roles/common/tasks/subscription_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[ci/logging] Use include_role instead of import_role for using the common role
  ci/logging_tests_computes.yml
  ci/logging_tests_controller.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[common] Rename the test for CR status
  roles/common/tasks/cr_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

Use dicts to configure the tests
  ci/logging_tests_computes.yml
  ci/logging_tests_controller.yml
  roles/common/tasks/container_test.yml
  roles/common/tasks/cr_tests.yml
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/endpoint_tests.yml
  roles/common/tasks/file_tests.yml
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
  roles/common/tasks/pod_tests.yml
  roles/common/tasks/project_tests.yml
  roles/common/tasks/service_tests.yml
  roles/common/tasks/subscription_tests.yml
  roles/telemetry_logging/tasks/journal_tests.yml
  roles/telemetry_logging/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[telemetry_logging] Update var names in role
  roles/telemetry_logging/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

Fix typos
  roles/common/tasks/manifest_tests.yml
  roles/common/tasks/project_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

Update test ids
  ci/logging_tests_controller.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

Add more test ids
  ci/logging_tests_controller.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

Update the pod test definintions to use dicts
  ci/logging_tests_controller.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

sync ci/logging_tests_{controller,compute}.yml to master
  ci/logging_tests_computes.yml
  ci/logging_tests_controller.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[verify_metrics] try convert mariadb to use the new format
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Replace vars for pod tests
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_central_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_ipmi_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ksm_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[common] Update manifest role and config
  ci/logging_tests_controller.yml
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

Add debug to custom_junit
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

[common] Move the oc command to main
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[common] Refactor common_manifest_list to use dictionary structure
  ci/logging_tests_controller.yml
  roles/common/README.md
  roles/common/tasks/manifest_tests.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18

Fix ansible-lint issues
  roles/common/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[OSPRH-21020] Adjust rabbitmq tests
  roles/telemetry_verify_metrics/tasks/verify_rabbitmq_metrics.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Add configurable debug option to custom_junit callback plugin
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

[ci] Add explicit namespace to patch_observabilityclient (#321)
  ci/run_autoscaling_tests.yml
  ci/run_verify_metrics_osp18.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[ci] Try an openstackversion kustomization
  ci/openstack-versions-kustomization.yaml.j2
  ci/use-master-containers.yml
  ci/vars-use-master-containers.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[ci] Add ansible.cfg to top-level dir
  ansible.cfg
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[ci] Add ansible.cfg to top-level dir (#322)
  ansible.cfg
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[report_result] Add testcase error detection and reporting
  ci/report_result.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

[report_result] Check if the logs dir exists
  ci/report_result.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18

Add configurable debug option to custom_junit callback plugin (#330)
  callback_plugins/custom_junit.py
Due: feature-verification-tests-noop

Add run_chargeback_tests playbook AI assisted
  .zuul.yaml
  ci/run_chargeback_tests.yml
  ci/vars-cloudkitty-fvt.yml
  roles/telemetry_chargeback/README.md
  roles/telemetry_chargeback/defaults/main.yml
  roles/telemetry_chargeback/meta/main.yml
  roles/telemetry_chargeback/tasks/chargeback_tests.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, feature-verification-tests-noop, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

[ci] Enable profile_tasks callback to give test runtime information
  ci/ansible.cfg
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[zuul] Add a job to run CloudKitty FVTs
  .zuul.yaml
  ci/vars-cloudkitty-fvt.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18, functional-logging-tests-osp18, functional-periodic-telemetry-with-ceph

Add synthetic data generation files and changes Gemini AI used
  roles/telemetry_chargeback/files/gen_synth_loki_data.py
  roles/telemetry_chargeback/files/loki_data_templ.j2
  roles/telemetry_chargeback/tasks/gen_synth_loki_data.yml
  roles/telemetry_chargeback/tasks/main.yml
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[ci] Enable profile_tasks callback to give test runtime information (#329)
  ci/ansible.cfg
Due: functional-tests-osp18, functional-tests-on-osp18, functional-autoscaling-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Path conditions:
  functional-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-graphing-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-metric-verification-tests-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, roles/common/*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml, ci/report_result.yml, .zuul.yaml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-periodic-telemetry-with-ceph: any of: roles/telemetry_verify_metrics/tasks/verify_ceilometer_volume_pool_metrics.yml, .zuul.yaml
