Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

.zuul.yaml:

---
- job:
    name: functional-tests-on-osp18
    parent: telemetry-operator-multinode-autoscaling
    description: |
      Run the autoscaling functional test on osp18+patched version of aodh and heat.
    vars:
      patch_openstackversions: true
      cifmw_extras:
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/ci-framework'].src_dir  }}/scenarios/centos-9/multinode-ci.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/telemetry-operator'].src_dir }}/ci/vars-autoscaling.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/infrawatch/feature-verification-tests'].src_dir }}/ci/vars-functional-test.yml"
    roles:
      - zuul: github.com/openstack-k8s-operators/ci-framework
    required-projects: &required_projects
      - name: github.com/infrawatch/service-telemetry-operator
      - name: openstack-k8s-operators/ci-framework
        override-checkout: main
      - name: openstack-k8s-operators/install_yamls
        override-checkout: main
      - name: github.com/openstack-k8s-operators/dataplane-operator
        override-checkout: main
      - name: github.com/openstack-k8s-operators/infra-operator
        override-checkout: main
      - name: github.com/openstack-k8s-operators/openstack-operator
        override-checkout: main
      - name: github.com/openstack-k8s-operators/openstack-must-gather
        override-checkout: main
      - name: github.com/openstack-k8s-operators/telemetry-operator
        override-checkout: main
    irrelevant-files: &irrelevant_files
      - .github/.*
      - ci/github/.*
      - callback_plugins/.*
      - README*
      - .*/*.md

- job:
    name: functional-logging-tests-osp18
    parent: telemetry-operator-multinode-logging
    description: |
      Run the logging functional tests on osp18
    vars:
      cifmw_extras:
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/ci-framework'].src_dir  }}/scenarios/centos-9/multinode-ci.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/telemetry-operator'].src_dir }}/ci/vars-logging.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/infrawatch/feature-verification-tests'].src_dir }}/ci/vars-logging-test.yml"
    roles:
      - zuul: github.com/openstack-k8s-operators/ci-framework
    required-projects: *required_projects
    irrelevant-files: *irrelevant_files

- job:
    name: feature-verification-tests-noop
    parent: noop
    description: |
      A job that always passes. Runs when there's a change to jobs that don't
      need full zuul to run but still need to report a pass.
    run:
      - ci/noop.yml
    files: *irrelevant_files

- job:
    name: functional-graphing-tests-osp18
    parent: functional-tests-on-osp18
    description: |
      Run the UI Graphing test on osp18.
    vars:
      cifmw_extras:
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/ci-framework'].src_dir  }}/scenarios/centos-9/multinode-ci.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/openstack-k8s-operators/telemetry-operator'].src_dir }}/ci/vars-autoscaling.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/infrawatch/feature-verification-tests'].src_dir }}/ci/vars-functional-test.yml"
        - "@{{ ansible_user_dir }}/{{ zuul.projects['github.com/infrawatch/feature-verification-tests'].src_dir }}/ci/vars-graphing-test.yml"
    required-projects: *required_projects
    irrelevant-files: *irrelevant_files
      

- project:
    name: infrawatch/feature-verification-tests
    github-check:
      jobs:
        - feature-verification-tests-noop
        - openstack-k8s-operators-content-provider:
            override-checkout: main
        - functional-tests-on-osp18
        - functional-logging-tests-osp18
        - functional-graphing-tests-osp18

Create README3.md
  roles/test_alerts/README3.md
Due: feature-verification-tests-noop

Create .README.md
  roles/test_alerts/.README.md
Due: feature-verification-tests-noop

Update README.md
  roles/test_alerts/README.md
Due: feature-verification-tests-noop

[telemetry_verify_metrics]: add openstack-network-exporter feature tests (#231)
  roles/common/README.md
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_openstack_network_exporter_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Create README.md
  .github/workflows/README.md
Due: feature-verification-tests-noop

Create README.md
  ci/github/README.md
Due: feature-verification-tests-noop

Create READ_ME.yaml
  callback_plugins/READ_ME.yaml
Due: feature-verification-tests-noop

Rename READ_ME.yaml to READ_ME.txt
  callback_plugins/READ_ME.txt
Due: feature-verification-tests-noop

Create test.txt
  .github/workflows/test.txt
Due: feature-verification-tests-noop

Create test_alexy.yaml
  roles/client_side_tests/tasks/test_alexy.yaml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Create test_var.yml
  roles/test_alerts/defaults/test_var.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add files via upload
  roles/test_collectd/var_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add files via upload
  roles/test_metrics_retention/vars/var_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add files via upload
  roles/test_observability_strategy/vars/var_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add files via upload
  roles/test_qdr/var_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add files via upload
  roles/test_sensubility/vars/var_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add files via upload
  roles/test_snmp_traps/vars/var_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add files via upload
  roles/test_verify_email/vars/var_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Update vars-use-master-containers.yml
  ci/vars-use-master-containers.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[common] Update container tests
  roles/common/tasks/container_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[ci] Add container tests to the logging job
  ci/logging_tests_computes.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

remove comment
  roles/common/tasks/container_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[common] Add debug to container tests when container is not found
  roles/common/tasks/container_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

[ci][common] Use separate play for tests requiring elevated priviledges
  ci/logging_tests_computes.yml
  roles/common/tasks/container_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Update README.md
  roles/common/README.md
Due: feature-verification-tests-noop

Update main.yml
  roles/common/defaults/main.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add container tests to logging job (#219)
  ci/logging_tests_computes.yml
  roles/common/tasks/container_test.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Rename tasks for XML reporting (#181)
  .ansible-lint
  .zuul.yaml
  ci/logging_tests_controller.yml
  roles/common/README.md
  roles/common/defaults/main.yml
  roles/common/tasks/container_test.yml
  roles/common/tasks/cr_tests.yml
  roles/common/tasks/crd_tests.yml
  roles/common/tasks/endpoint_tests.yml
  roles/common/tasks/file_tests.yml
  roles/common/tasks/main.yml
  roles/common/tasks/manifest_tests.yml
  roles/common/tasks/pod_tests.yml
  roles/common/tasks/project_tests.yml
  roles/common/tasks/service_tests.yml
  roles/common/tasks/subscription_tests.yml
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
  roles/telemetry_logging/tasks/journal_tests.yml
  roles/telemetry_verify_metrics/README.md
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ceilometer_compute_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_kepler_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_openstack_network_exporter_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, feature-verification-tests-noop, functional-graphing-tests-osp18

Update roles/telemetry_verify_metrics/tasks/verify_podman_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_podman_exporter_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Disable RBAC for KSM metrics
  roles/telemetry_verify_metrics/tasks/verify_ksm_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add test for health monitoring feature
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ksm_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_podman_exporter_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Update roles/telemetry_verify_metrics/tasks/verify_ksm_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_ksm_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Update roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add test for health monitoring feature (#234)
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ksm_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_podman_exporter_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Update .zuul.yaml
  .zuul.yaml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add test for health monitoring feature (#234) (#239)
  roles/telemetry_verify_metrics/defaults/main.yml
  roles/telemetry_verify_metrics/tasks/main.yml
  roles/telemetry_verify_metrics/tasks/verify_ksm_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_node_exporter_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_podman_exporter_metrics.yml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Exclude OWNERS* from triggering fvt (#230)
  .zuul.yaml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18

Add to irrelevant_files list (#217)
  .zuul.yaml
Due: functional-tests-on-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18
