Repository infrawatch/feature-verification-tests: changes, and which Zuul jobs are due for each by the changed paths.
All: functional-tests-on-osp18, feature-verification-tests-noop, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

functional-tests-on-osp18:
  parent: functional-autoscaling-tests-osp18
  description: "functional-tests-on-osp18 is an alias of functional-autoscaling-tests-osp18, \ntemporary added until openstack-k8s-operators/telemetry-operator updates \nreferences of functional-tests-on-osp18 jobs.\n"

feature-verification-tests-noop:
  parent: noop
  description: 'A job that always passes. Runs when there''s a change to jobs that don''t
  
    need full zuul to run but still need to report a pass.
  
    '
  run:
  - ci/noop.yml

openstack-k8s-operators-content-provider:
  override-checkout: main

functional-autoscaling-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the autoscaling functional test on osp18+patched version of aodh and heat.
  
    '
  vars:
    patch_openstackversions: true
    cifmw_extras:
  ...

functional-logging-tests-osp18:
  parent: telemetry-operator-multinode-logging
  description: 'Run the logging functional tests on osp18
  
    '
  vars:
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

functional-graphing-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the UI Graphing test on osp18.
  
    '
  vars:
    cifmw_run_tests: false
    cifmw_extras:
    - '@{{ ansible_user_dir }}/{{ zuul.projects[''github.com/openstack-k8s-operators/ci-framework''].src_dir  }}/scenarios/centos-9/multinode-ci.yml'
  ...

functional-metric-verification-tests-osp18:
  parent: telemetry-operator-multinode-autoscaling
  description: 'Run the metric verification functional test on osp18.
  
    '
  vars:
    patch_observabilityclient: true
    cifmw_extras:
  ...

Update .zuul.yaml
  .zuul.yaml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

test: remove the include_vars task
  ci/run_verify_metrics_osp18.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

[ci] Try to combine the FVT and tempest
  .zuul.yaml
  ci/vars-functional-test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[ci] Update the logging tests to run tempest smoketests
  .zuul.yaml
  ci/vars-logging-test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[ci] Update fvt jobs to run tempest smoketests
  .zuul.yaml
  ci/vars-graphing-test.yml
  ci/vars-metric-verification-test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[zuul] Remove `run_tests: false` in graphing job
  .zuul.yaml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

set cifmw_run_tests: true in vars-* even though it should be set to true in autoscaling-tempest
  ci/vars-functional-test.yml
  ci/vars-graphing-test.yml
  ci/vars-logging-test.yml
  ci/vars-metric-verification-test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

un-skip tempest autoscaling test
  ci/vars-functional-test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18

Update verify_mariadb_metrics.yml
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Rename run_autoscaling_metrics_osp18.yml to run_cloudops_tests_osp18.yml
  ci/run_cloudops_tests_osp18.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider

Update vars-functional-test.yml
  ci/vars-functional-test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18

[ci] Try to combine the FVT and tempest (#256)
  .zuul.yaml
  ci/vars-functional-test.yml
  ci/vars-graphing-test.yml
  ci/vars-logging-test.yml
  ci/vars-metric-verification-test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

[ci] Move FVT results to tests/ instead of logs
  ci/vars/common.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider

Update cypress_test.yml
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

Remove the functional-tests-on-osp18 alias
  .zuul.yaml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-autoscaling-tests-osp18, functional-logging-tests-osp18, functional-graphing-tests-osp18, functional-metric-verification-tests-osp18

Rename vars-metric-verification-test.yml to del_vars-metric-verification-test.yml
  ci/del_vars-metric-verification-test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider

Rename run_verify_metrics_osp18.yml to del_run_verify_metrics_osp18.yml
  ci/del_run_verify_metrics_osp18.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider

update the trigger
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

update version
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

Delete ci/del_vars-metric-verification-test.yml
  ci/del_vars-metric-verification-test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider

Delete ci/del_run_verify_metrics_osp18.yml
  ci/del_run_verify_metrics_osp18.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider

Apply suggestions from code review
  roles/telemetry_verify_metrics/tasks/verify_mariadb_metrics.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Update run_cloudops_tests_osp18.yml
  ci/run_cloudops_tests_osp18.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider

update the trigger
  roles/telemetry_graphing/files/cypress.config.js
  roles/telemetry_graphing/files/dashboard-openstack-cloud.js
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

update the trigger
  roles/telemetry_graphing/tasks/cypress_test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

Remove Enable Graphing
  ci/run_graphing_test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-graphing-tests-osp18

Create vars-metric-verification-test.yml
  ci/vars-metric-verification-test.yml
Due: functional-tests-on-osp18, openstack-k8s-operators-content-provider, functional-metric-verification-tests-osp18

Path conditions:
  functional-tests-on-osp18: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  feature-verification-tests-noop: any of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  openstack-k8s-operators-content-provider: unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*
  functional-autoscaling-tests-osp18: any of: roles/telemetry_autoscaling/.*, .zuul.yaml, ci/vars-functional-test.yml, ci/run_autoscaling_osp18.yml, ci/vars-use-master-containers.yml, ci/use-master-containers.yml, ci/patch-openstack-version.yaml
  functional-logging-tests-osp18: (any of: roles/telemetry_logging/.*, .zuul.yaml, ci/vars-logging-test.yml, ci/logging_tests_all.yml, ci/logging_tests_computes.yml, ci/logging_tests_controller.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-graphing-tests-osp18: (any of: roles/telemetry_graphing/.*, .zuul.yaml, ci/vars-graphing-test.yml, ci/run_graphing_test.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
  functional-metric-verification-tests-osp18: (any of: roles/telemetry_verify_metrics/.*, .zuul.yaml, ci/vars-metric-verification-test.yml, ci/run_verify_metrics_osp18.yml) and (unless all of: .github/.*, ci/github/.*, callback_plugins/.*, README*, OWNERS*, .*/*.md, roles/client_side_tests/.*, roles/test_alerts/.*, roles/test_collectd/.*, roles/test_metrics_retention/.*, roles/test_observability_strategy/.*, roles/test_qdr/.*, roles/test_sensubility/.*, roles/test_snmp_traps/.*, roles/test_verify_email/.*)
